![dsia](https://static1.squarespace.com/static/5c4631190dbda3abea29db4c/t/5c465b0dc74c5024875652f7/1549343891985/?format=1500w)

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from scipy import stats
# get matplot to show charts inline
%matplotlib inline

chrome://settings/content/cookies

NOTE: Make sure third party cookies are not blocked.

In [2]:
df = pd.read_csv("Employee-attrition.csv")

In [3]:
df.head()

,EmployeeID,recorddate_key,birthdate_key,orighiredate_key,terminationdate_key,age,length_of_service,city_name,department_name,job_title,store_name,gender_short,gender_full,termreason_desc,termtype_desc,STATUS_YEAR,STATUS,BUSINESS_UNIT
0,1318,12/31/2006 0:00,1/3/1954,8/28/1989,1/1/1900,52,17,Vancouver,Executive,CEO,35,M,Male,Not Applicable,Not Applicable,2006,ACTIVE,HEADOFFICE
1,1318,12/31/2007 0:00,1/3/1954,8/28/1989,1/1/1900,53,18,Vancouver,Executive,CEO,35,M,Male,Not Applicable,Not Applicable,2007,ACTIVE,HEADOFFICE
2,1318,12/31/2008 0:00,1/3/1954,8/28/1989,1/1/1900,54,19,Vancouver,Executive,CEO,35,M,Male,Not Applicable,Not Applicable,2008,ACTIVE,HEADOFFICE
3,1318,12/31/2009 0:00,1/3/1954,8/28/1989,1/1/1900,55,20,Vancouver,Executive,CEO,35,M,Male,Not Applicable,Not Applicable,2009,ACTIVE,HEADOFFICE
4,1318,12/31/2010 0:00,1/3/1954,8/28/1989,1/1/1900,56,21,Vancouver,Executive,CEO,35,M,Male,Not Applicable,Not Applicable,2010,ACTIVE,HEADOFFICE

In [4]:
df.tail()

,EmployeeID,recorddate_key,birthdate_key,orighiredate_key,terminationdate_key,age,length_of_service,city_name,department_name,job_title,store_name,gender_short,gender_full,termreason_desc,termtype_desc,STATUS_YEAR,STATUS,BUSINESS_UNIT
49648,8258,12/1/2015 0:00,5/28/1994,8/19/2013,12/30/2015,21,2,Valemount,Dairy,Dairy Person,34,M,Male,Layoff,Involuntary,2015,TERMINATED,STORES
49649,8264,8/1/2013 0:00,6/13/1994,8/27/2013,8/30/2013,19,0,Vancouver,Customer Service,Cashier,44,F,Female,Resignaton,Voluntary,2013,TERMINATED,STORES
49650,8279,12/1/2015 0:00,7/18/1994,9/15/2013,12/30/2015,21,2,White Rock,Customer Service,Cashier,39,F,Female,Layoff,Involuntary,2015,TERMINATED,STORES
49651,8296,12/1/2013 0:00,9/2/1994,10/9/2013,12/31/2013,19,0,Kelowna,Customer Service,Cashier,16,F,Female,Resignaton,Voluntary,2013,TERMINATED,STORES
49652,8321,12/1/2014 0:00,11/28/1994,11/24/2013,12/30/2014,20,1,Grand Forks,Customer Service,Cashier,13,F,Female,Layoff,Involuntary,2014,TERMINATED,STORES

# Accessing the main DataFrame components

In [5]:
columns = df.columns
index = df.index
data = df.values

In [6]:
columns

Index(['EmployeeID', 'recorddate_key', 'birthdate_key', 'orighiredate_key',
       'terminationdate_key', 'age', 'length_of_service', 'city_name',
       'department_name', 'job_title', 'store_name', 'gender_short',
       'gender_full', 'termreason_desc', 'termtype_desc', 'STATUS_YEAR',
       'STATUS', 'BUSINESS_UNIT'],
      dtype='object')

In [7]:
index

RangeIndex(start=0, stop=49653, step=1)

In [8]:
data

array([[1318, '12/31/2006 0:00', '1/3/1954', ..., 2006, 'ACTIVE',
        'HEADOFFICE'],
       [1318, '12/31/2007 0:00', '1/3/1954', ..., 2007, 'ACTIVE',
        'HEADOFFICE'],
       [1318, '12/31/2008 0:00', '1/3/1954', ..., 2008, 'ACTIVE',
        'HEADOFFICE'],
       ...,
       [8279, '12/1/2015 0:00', '7/18/1994', ..., 2015, 'TERMINATED',
        'STORES'],
       [8296, '12/1/2013 0:00', '9/2/1994', ..., 2013, 'TERMINATED',
        'STORES'],
       [8321, '12/1/2014 0:00', '11/28/1994', ..., 2014, 'TERMINATED',
        'STORES']], dtype=object)

# 1. Understanding Data Types

#### 1.A Find Shape of Data Frame

In [10]:
# A:
df.shape

(49653, 18)

#### 1.B Find Data Tyeps of Data Frame

In [26]:
# A:
#df_df = pd.DataFrame([df])
df.dtypes

EmployeeID              int64
recorddate_key         object
birthdate_key          object
orighiredate_key       object
terminationdate_key    object
age                     int64
length_of_service       int64
city_name              object
department_name        object
job_title              object
store_name              int64
gender_short           object
gender_full            object
termreason_desc        object
termtype_desc          object
STATUS_YEAR             int64
STATUS                 object
BUSINESS_UNIT          object
dtype: object

#### 1.C Find Number of Data Types in a Data Frame



```
Expected Output:
int64      5
object    13
dtype: int64
```

In [40]:
df.get_dtype_counts

<bound method NDFrame.get_dtype_counts of        EmployeeID   recorddate_key birthdate_key orighiredate_key  \
0            1318  12/31/2006 0:00      1/3/1954        8/28/1989
1            1318  12/31/2007 0:00      1/3/1954        8/28/1989
2            1318  12/31/2008 0:00      1/3/1954        8/28/1989
3            1318  12/31/2009 0:00      1/3/1954        8/28/1989
4            1318  12/31/2010 0:00      1/3/1954        8/28/1989
5            1318  12/31/2011 0:00      1/3/1954        8/28/1989
6            1318  12/31/2012 0:00      1/3/1954        8/28/1989
7            1318  12/31/2013 0:00      1/3/1954        8/28/1989
8            1318  12/31/2014 0:00      1/3/1954        8/28/1989
9            1318  12/31/2015 0:00      1/3/1954        8/28/1989
10           1319  12/31/2006 0:00      1/3/1957        8/28/1989
11           1319  12/31/2007 0:00      1/3/1957        8/28/1989
12           1319  12/31/2008 0:00      1/3/1957        8/28/1989
13           1319  12/31/2009 0:00      1/3/1957        8/28/1989
14           1319  12/31/2010 0:00      1/3/1957        8/28/1989
15           1319  12/31/2011 0:00      1/3/1957        8/28/1989
16           1319  12/31/2012 0:00      1/3/1957        8/28/1989
17           1319  12/31/2013 0:00      1/3/1957        8/28/1989
18           1319  12/31/2014 0:00      1/3/1957        8/28/1989
19           1319  12/31/2015 0:00      1/3/1957        8/28/1989
20           1320  12/31/2006 0:00      1/2/1955        8/28/1989
21           1320  12/31/2007 0:00      1/2/1955        8/28/1989
22           1320  12/31/2008 0:00      1/2/1955        8/28/1989
23           1320  12/31/2009 0:00      1/2/1955        8/28/1989
24           1320  12/31/2010 0:00      1/2/1955        8/28/1989
25           1320  12/31/2011 0:00      1/2/1955        8/28/1989
26           1320  12/31/2012 0:00      1/2/1955        8/28/1989
27           1320  12/31/2013 0:00      1/2/1955        8/28/1989
28           1320  12/31/2014 0:00      1/2/1955        8/28/1989
29           1320  12/31/2015 0:00      1/2/1955        8/28/1989
...           ...              ...           ...              ...
49623        8168    9/1/2014 0:00     8/13/1993        3/20/2013
49624        8169    9/1/2014 0:00     8/15/1993        3/21/2013
49625        8170    9/1/2014 0:00     8/24/1993        3/25/2013
49626        8171    9/1/2014 0:00     8/26/1993        3/26/2013
49627        8172    9/1/2014 0:00     8/25/1993        3/26/2013
49628        8173    9/1/2014 0:00     8/31/1993        3/29/2013
49629        8174    9/1/2014 0:00      9/1/1993        3/30/2013
49630        8175   10/1/2014 0:00      9/5/1993         4/1/2013
49631        8176   10/1/2014 0:00      9/7/1993         4/2/2013
49632        8177   10/1/2014 0:00      9/8/1993         4/2/2013
49633        8178   10/1/2014 0:00     9/10/1993         4/3/2013
49634        8179   12/1/2015 0:00     9/11/1993         4/4/2013
49635        8180   10/1/2014 0:00     9/16/1993         4/6/2013
49636        8181    7/1/2013 0:00     9/26/1993        4/12/2013
49637        8182   10/1/2014 0:00     9/27/1993        4/12/2013
49638        8183   10/1/2014 0:00     10/2/1993        4/15/2013
49639        8184   10/1/2014 0:00     10/5/1993        4/16/2013
49640        8185   10/1/2014 0:00     10/9/1993        4/19/2013
49641        8186   10/1/2014 0:00    10/14/1993        4/21/2013
49642        8187   10/1/2014 0:00    10/17/1993        4/23/2013
49643        8188   10/1/2014 0:00    10/22/1993        4/25/2013
49644        8214   12/1/2014 0:00      1/6/1994         6/5/2013
49645        8223   10/1/2013 0:00     2/11/1994        6/24/2013
49646        8226    9/1/2013 0:00     2/16/1994        6/26/2013
49647        8231   12/1/2015 0:00      3/1/1994         7/3/2013
49648        8258   12/1/2015 0:00     5/28/1994        8/19/2013
49649        8264    8/1/2013 0:00     6/13/1994        8/27/2013
49650        8279   12/1/2015 0:00     7/18/1994        9/15/2013
49651        8296   12/1/2013 0:00      9/2/1994        10/9/2013
49652        8321   12/1/2014 0:00    11/28/1994       11/24/2013

      terminationdate_key  age  length_of_service      city_name  \
0                1/1/1900   52                 17      Vancouver
1                1/1/1900   53                 18      Vancouver
2                1/1/1900   54                 19      Vancouver
3                1/1/1900   55                 20      Vancouver
4                1/1/1900   56                 21      Vancouver
5                1/1/1900   57                 22      Vancouver
6                1/1/1900   58                 23      Vancouver
7                1/1/1900   59                 24      Vancouver
8                1/1/1900   60                 25      Vancouver
9                1/1/1900   61                 26      Vancouver
10               1/1/1900   49                 17      Vancouver
11               1/1/1900   50                 18      Vancouver
12               1/1/1900   51                 19      Vancouver
13               1/1/1900   52                 20      Vancouver
14               1/1/1900   53                 21      Vancouver
15               1/1/1900   54                 22      Vancouver
16               1/1/1900   55                 23      Vancouver
17               1/1/1900   56                 24      Vancouver
18               1/1/1900   57                 25      Vancouver
19               1/1/1900   58                 26      Vancouver
20               1/1/1900   51                 17      Vancouver
21               1/1/1900   52                 18      Vancouver
22               1/1/1900   53                 19      Vancouver
23               1/1/1900   54                 20      Vancouver
24               1/1/1900   55                 21      Vancouver
25               1/1/1900   56                 22      Vancouver
26               1/1/1900   57                 23      Vancouver
27               1/1/1900   58                 24      Vancouver
28               1/1/1900   59                 25      Vancouver
29               1/1/1900   60                 26      Vancouver
...                   ...  ...                ...            ...
49623           9/20/2014   21                  1       Victoria
49624           9/21/2014   21                  1      Vancouver
49625           9/25/2014   21                  1   Fort St John
49626           9/26/2014   21                  1         Surrey
49627           9/26/2014   21                  1  Prince George
49628           9/29/2014   21                  1        Langley
49629           9/30/2014   21                  1        Nanaimo
49630           10/1/2014   21                  1      Vancouver
49631           10/2/2014   21                  1        Kelowna
49632           10/2/2014   21                  1       Victoria
49633           10/3/2014   21                  1      Vancouver
49634          12/30/2015   22                  2      Princeton
49635           10/6/2014   21                  1        Langley
49636            7/2/2013   19                  0  Prince George
49637          10/12/2014   21                  1   Fort St John
49638          10/15/2014   21                  1  Williams Lake
49639          10/16/2014   21                  1     Chilliwack
49640          10/19/2014   21                  1       Kamloops
49641          10/21/2014   21                  1       Richmond
49642          10/23/2014   21                  1      Cranbrook
49643          10/25/2014   21                  1       Victoria
49644          12/30/2014   20                  1          Haney
49645          10/17/2013   19                  0          Trail
49646           9/14/2013   19                  0       Victoria
49647          12/30/2015   21                  2      Princeton
49648          12/30/2015   21                  2      Valemount
49649           8/30/2013   19                  0      Vancouver
49650          12/30/2015   21                  2     White Rock
49651          12/31/2013   19                  0        Kelowna
49652          12/30/2014   20                  1    Grand Forks

        department_name job_title  store_name gender_short gender_full  \
0             Executive       CEO          35            M        Male
1             Executive       CEO          35            M        Male
2             Executive       CEO          35            M        Male
3             Executive       CEO          35            M        Male
4             Executive       CEO          35            M        Male
5             Executive       CEO          35            M        Male
6             Executive       CEO          35            M        Male
7             Executive       CEO          35            M        Male
8             Executive       CEO          35            M        Male
9             Executive       CEO          35            M        Male
10            Executive       CEO          35            F      Female
11            Executive       CEO          35            F      Female
12            Executive       CEO          35            F      Female
13            Executive       CEO          35            F      Female
14            Executive       CEO          35            F      Female
15            Executive       CEO          35            F      Female
16            Executive       CEO          35            F      Female
17            Executive       CEO          35            F      Female
18            Executive       CEO          35            F      Female
19            Executive       CEO          35            F      Female
20            Executive       CEO          35            F      Female
21            Executive       CEO          35            F      Female
22            Executive       CEO          35            F      Female
23            Executive       CEO          35            F      Female
24            Executive       CEO          35            F      Female
25            Executive       CEO          35            F      Female
26            Executive       CEO          35            F      Female
27            Executive       CEO          35            F      Female
28            Executive       CEO          35            F      Female
29            Executive       CEO          35            F      Female
...                 ...       ...         ...          ...         ...
49623  Customer Service       CEO          46            M        Male
49624  Customer Service       CEO          44            F      Female
49625  Customer Service       CEO          12            F      Female
49626  Customer Service       CEO          31            M        Male
49627  Customer Service       CEO          26            F      Female
49628  Customer Service       CEO          17            F      Female
49629  Customer Service       CEO          18            M        Male
49630  Customer Service       CEO          44            M        Male
49631  Customer Service       CEO          16            M        Male
49632  Customer Service       CEO          46            M        Male
49633  Customer Service       CEO          44            F      Female
49634  Customer Service       CEO          27            M        Male
49635  Customer Service       CEO          17            M        Male
49636  Customer Service       CEO          26            M        Male
49637  Customer Service       CEO          12            M        Male
49638  Customer Service       CEO          40            F      Female
49639  Customer Service       CEO           6            F      Female
49640  Customer Service       CEO          15            M        Male
49641  Customer Service       CEO          29            M        Male
49642  Customer Service       CEO           8            F      Female
49643  Customer Service       CEO          46            F      Female
49644           Produce       CEO          14            F      Female
49645  Customer Service       CEO          33            M        Male
49646  Customer Service       CEO          46            F      Female
49647  Customer Service       CEO          27            M        Male
49648             Dairy       CEO          34            M        Male
49649  Customer Service       CEO          44            F      Female
49650  Customer Service       CEO          39            F      Female
49651  Customer Service       CEO          16            F      Female
49652  Customer Service       CEO          13            F      Female

      termreason_desc   termtype_desc  STATUS_YEAR      STATUS BUSINESS_UNIT
0      Not Applicable  Not Applicable         2006      ACTIVE    HEADOFFICE
1      Not Applicable  Not Applicable         2007      ACTIVE    HEADOFFICE
2      Not Applicable  Not Applicable         2008      ACTIVE    HEADOFFICE
3      Not Applicable  Not Applicable         2009      ACTIVE    HEADOFFICE
4      Not Applicable  Not Applicable         2010      ACTIVE    HEADOFFICE
5      Not Applicable  Not Applicable         2011      ACTIVE    HEADOFFICE
6      Not Applicable  Not Applicable         2012      ACTIVE    HEADOFFICE
7      Not Applicable  Not Applicable         2013      ACTIVE    HEADOFFICE
8      Not Applicable  Not Applicable         2014      ACTIVE    HEADOFFICE
9      Not Applicable  Not Applicable         2015      ACTIVE    HEADOFFICE
10     Not Applicable  Not Applicable         2006      ACTIVE    HEADOFFICE
11     Not Applicable  Not Applicable         2007      ACTIVE    HEADOFFICE
12     Not Applicable  Not Applicable         2008      ACTIVE    HEADOFFICE
13     Not Applicable  Not Applicable         2009      ACTIVE    HEADOFFICE
14     Not Applicable  Not Applicable         2010      ACTIVE    HEADOFFICE
15     Not Applicable  Not Applicable         2011      ACTIVE    HEADOFFICE
16     Not Applicable  Not Applicable         2012      ACTIVE    HEADOFFICE
17     Not Applicable  Not Applicable         2013      ACTIVE    HEADOFFICE
18     Not Applicable  Not Applicable         2014      ACTIVE    HEADOFFICE
19     Not Applicable  Not Applicable         2015      ACTIVE    HEADOFFICE
20     Not Applicable  Not Applicable         2006      ACTIVE    HEADOFFICE
21     Not Applicable  Not Applicable         2007      ACTIVE    HEADOFFICE
22     Not Applicable  Not Applicable         2008      ACTIVE    HEADOFFICE
23     Not Applicable  Not Applicable         2009      ACTIVE    HEADOFFICE
24     Not Applicable  Not Applicable         2010      ACTIVE    HEADOFFICE
25     Not Applicable  Not Applicable         2011      ACTIVE    HEADOFFICE
26     Not Applicable  Not Applicable         2012      ACTIVE    HEADOFFICE
27     Not Applicable  Not Applicable         2013      ACTIVE    HEADOFFICE
28     Not Applicable  Not Applicable         2014      ACTIVE    HEADOFFICE
29     Not Applicable  Not Applicable         2015      ACTIVE    HEADOFFICE
...               ...             ...          ...         ...           ...
49623      Resignaton       Voluntary         2014  TERMINATED        STORES
49624      Resignaton       Voluntary         2014  TERMINATED        STORES
49625      Resignaton       Voluntary         2014  TERMINATED        STORES
49626      Resignaton       Voluntary         2014  TERMINATED        STORES
49627      Resignaton       Voluntary         2014  TERMINATED        STORES
49628      Resignaton       Voluntary         2014  TERMINATED        STORES
49629      Resignaton       Voluntary         2014  TERMINATED        STORES
49630      Resignaton       Voluntary         2014  TERMINATED        STORES
49631      Resignaton       Voluntary         2014  TERMINATED        STORES
49632      Resignaton       Voluntary         2014  TERMINATED        STORES
49633      Resignaton       Voluntary         2014  TERMINATED        STORES
49634          Layoff     Involuntary         2015  TERMINATED        STORES
49635      Resignaton       Voluntary         2014  TERMINATED        STORES
49636      Resignaton       Voluntary         2013  TERMINATED        STORES
49637      Resignaton       Voluntary         2014  TERMINATED        STORES
49638      Resignaton       Voluntary         2014  TERMINATED        STORES
49639      Resignaton       Voluntary         2014  TERMINATED        STORES
49640      Resignaton       Voluntary         2014  TERMINATED        STORES
49641      Resignaton       Voluntary         2014  TERMINATED        STORES
49642      Resignaton       Voluntary         2014  TERMINATED        STORES
49643      Resignaton       Voluntary         2014  TERMINATED        STORES
49644          Layoff     Involuntary         2014  TERMINATED        STORES
49645      Resignaton       Voluntary         2013  TERMINATED        STORES
49646      Resignaton       Voluntary         2013  TERMINATED        STORES
49647          Layoff     Involuntary         2015  TERMINATED        STORES
49648          Layoff     Involuntary         2015  TERMINATED        STORES
49649      Resignaton       Voluntary         2013  TERMINATED        STORES
49650          Layoff     Involuntary         2015  TERMINATED        STORES
49651      Resignaton       Voluntary         2013  TERMINATED        STORES
49652          Layoff     Involuntary         2014  TERMINATED        STORES

[49653 rows x 18 columns]>

#### 1.D Use Info

Use info and explore difference.

In [17]:
# A:
df.info

<bound method DataFrame.info of        EmployeeID   recorddate_key birthdate_key orighiredate_key  \
0            1318  12/31/2006 0:00      1/3/1954        8/28/1989
1            1318  12/31/2007 0:00      1/3/1954        8/28/1989
2            1318  12/31/2008 0:00      1/3/1954        8/28/1989
3            1318  12/31/2009 0:00      1/3/1954        8/28/1989
4            1318  12/31/2010 0:00      1/3/1954        8/28/1989
5            1318  12/31/2011 0:00      1/3/1954        8/28/1989
6            1318  12/31/2012 0:00      1/3/1954        8/28/1989
7            1318  12/31/2013 0:00      1/3/1954        8/28/1989
8            1318  12/31/2014 0:00      1/3/1954        8/28/1989
9            1318  12/31/2015 0:00      1/3/1954        8/28/1989
10           1319  12/31/2006 0:00      1/3/1957        8/28/1989
11           1319  12/31/2007 0:00      1/3/1957        8/28/1989
12           1319  12/31/2008 0:00      1/3/1957        8/28/1989
13           1319  12/31/2009 0:00      1/3/1957        8/28/1989
14           1319  12/31/2010 0:00      1/3/1957        8/28/1989
15           1319  12/31/2011 0:00      1/3/1957        8/28/1989
16           1319  12/31/2012 0:00      1/3/1957        8/28/1989
17           1319  12/31/2013 0:00      1/3/1957        8/28/1989
18           1319  12/31/2014 0:00      1/3/1957        8/28/1989
19           1319  12/31/2015 0:00      1/3/1957        8/28/1989
20           1320  12/31/2006 0:00      1/2/1955        8/28/1989
21           1320  12/31/2007 0:00      1/2/1955        8/28/1989
22           1320  12/31/2008 0:00      1/2/1955        8/28/1989
23           1320  12/31/2009 0:00      1/2/1955        8/28/1989
24           1320  12/31/2010 0:00      1/2/1955        8/28/1989
25           1320  12/31/2011 0:00      1/2/1955        8/28/1989
26           1320  12/31/2012 0:00      1/2/1955        8/28/1989
27           1320  12/31/2013 0:00      1/2/1955        8/28/1989
28           1320  12/31/2014 0:00      1/2/1955        8/28/1989
29           1320  12/31/2015 0:00      1/2/1955        8/28/1989
...           ...              ...           ...              ...
49623        8168    9/1/2014 0:00     8/13/1993        3/20/2013
49624        8169    9/1/2014 0:00     8/15/1993        3/21/2013
49625        8170    9/1/2014 0:00     8/24/1993        3/25/2013
49626        8171    9/1/2014 0:00     8/26/1993        3/26/2013
49627        8172    9/1/2014 0:00     8/25/1993        3/26/2013
49628        8173    9/1/2014 0:00     8/31/1993        3/29/2013
49629        8174    9/1/2014 0:00      9/1/1993        3/30/2013
49630        8175   10/1/2014 0:00      9/5/1993         4/1/2013
49631        8176   10/1/2014 0:00      9/7/1993         4/2/2013
49632        8177   10/1/2014 0:00      9/8/1993         4/2/2013
49633        8178   10/1/2014 0:00     9/10/1993         4/3/2013
49634        8179   12/1/2015 0:00     9/11/1993         4/4/2013
49635        8180   10/1/2014 0:00     9/16/1993         4/6/2013
49636        8181    7/1/2013 0:00     9/26/1993        4/12/2013
49637        8182   10/1/2014 0:00     9/27/1993        4/12/2013
49638        8183   10/1/2014 0:00     10/2/1993        4/15/2013
49639        8184   10/1/2014 0:00     10/5/1993        4/16/2013
49640        8185   10/1/2014 0:00     10/9/1993        4/19/2013
49641        8186   10/1/2014 0:00    10/14/1993        4/21/2013
49642        8187   10/1/2014 0:00    10/17/1993        4/23/2013
49643        8188   10/1/2014 0:00    10/22/1993        4/25/2013
49644        8214   12/1/2014 0:00      1/6/1994         6/5/2013
49645        8223   10/1/2013 0:00     2/11/1994        6/24/2013
49646        8226    9/1/2013 0:00     2/16/1994        6/26/2013
49647        8231   12/1/2015 0:00      3/1/1994         7/3/2013
49648        8258   12/1/2015 0:00     5/28/1994        8/19/2013
49649        8264    8/1/2013 0:00     6/13/1994        8/27/2013
49650        8279   12/1/2015 0:00     7/18/1994        9/15/2013
49651        8296   12/1/2013 0:00      9/2/1994        10/9/2013
49652        8321   12/1/2014 0:00    11/28/1994       11/24/2013

      terminationdate_key  age  length_of_service      city_name  \
0                1/1/1900   52                 17      Vancouver
1                1/1/1900   53                 18      Vancouver
2                1/1/1900   54                 19      Vancouver
3                1/1/1900   55                 20      Vancouver
4                1/1/1900   56                 21      Vancouver
5                1/1/1900   57                 22      Vancouver
6                1/1/1900   58                 23      Vancouver
7                1/1/1900   59                 24      Vancouver
8                1/1/1900   60                 25      Vancouver
9                1/1/1900   61                 26      Vancouver
10               1/1/1900   49                 17      Vancouver
11               1/1/1900   50                 18      Vancouver
12               1/1/1900   51                 19      Vancouver
13               1/1/1900   52                 20      Vancouver
14               1/1/1900   53                 21      Vancouver
15               1/1/1900   54                 22      Vancouver
16               1/1/1900   55                 23      Vancouver
17               1/1/1900   56                 24      Vancouver
18               1/1/1900   57                 25      Vancouver
19               1/1/1900   58                 26      Vancouver
20               1/1/1900   51                 17      Vancouver
21               1/1/1900   52                 18      Vancouver
22               1/1/1900   53                 19      Vancouver
23               1/1/1900   54                 20      Vancouver
24               1/1/1900   55                 21      Vancouver
25               1/1/1900   56                 22      Vancouver
26               1/1/1900   57                 23      Vancouver
27               1/1/1900   58                 24      Vancouver
28               1/1/1900   59                 25      Vancouver
29               1/1/1900   60                 26      Vancouver
...                   ...  ...                ...            ...
49623           9/20/2014   21                  1       Victoria
49624           9/21/2014   21                  1      Vancouver
49625           9/25/2014   21                  1   Fort St John
49626           9/26/2014   21                  1         Surrey
49627           9/26/2014   21                  1  Prince George
49628           9/29/2014   21                  1        Langley
49629           9/30/2014   21                  1        Nanaimo
49630           10/1/2014   21                  1      Vancouver
49631           10/2/2014   21                  1        Kelowna
49632           10/2/2014   21                  1       Victoria
49633           10/3/2014   21                  1      Vancouver
49634          12/30/2015   22                  2      Princeton
49635           10/6/2014   21                  1        Langley
49636            7/2/2013   19                  0  Prince George
49637          10/12/2014   21                  1   Fort St John
49638          10/15/2014   21                  1  Williams Lake
49639          10/16/2014   21                  1     Chilliwack
49640          10/19/2014   21                  1       Kamloops
49641          10/21/2014   21                  1       Richmond
49642          10/23/2014   21                  1      Cranbrook
49643          10/25/2014   21                  1       Victoria
49644          12/30/2014   20                  1          Haney
49645          10/17/2013   19                  0          Trail
49646           9/14/2013   19                  0       Victoria
49647          12/30/2015   21                  2      Princeton
49648          12/30/2015   21                  2      Valemount
49649           8/30/2013   19                  0      Vancouver
49650          12/30/2015   21                  2     White Rock
49651          12/31/2013   19                  0        Kelowna
49652          12/30/2014   20                  1    Grand Forks

        department_name      job_title  store_name gender_short gender_full  \
0             Executive            CEO          35            M        Male
1             Executive            CEO          35            M        Male
2             Executive            CEO          35            M        Male
3             Executive            CEO          35            M        Male
4             Executive            CEO          35            M        Male
5             Executive            CEO          35            M        Male
6             Executive            CEO          35            M        Male
7             Executive            CEO          35            M        Male
8             Executive            CEO          35            M        Male
9             Executive            CEO          35            M        Male
10            Executive      VP Stores          35            F      Female
11            Executive      VP Stores          35            F      Female
12            Executive      VP Stores          35            F      Female
13            Executive      VP Stores          35            F      Female
14            Executive      VP Stores          35            F      Female
15            Executive      VP Stores          35            F      Female
16            Executive      VP Stores          35            F      Female
17            Executive      VP Stores          35            F      Female
18            Executive      VP Stores          35            F      Female
19            Executive      VP Stores          35            F      Female
20            Executive  Legal Counsel          35            F      Female
21            Executive  Legal Counsel          35            F      Female
22            Executive  Legal Counsel          35            F      Female
23            Executive  Legal Counsel          35            F      Female
24            Executive  Legal Counsel          35            F      Female
25            Executive  Legal Counsel          35            F      Female
26            Executive  Legal Counsel          35            F      Female
27            Executive  Legal Counsel          35            F      Female
28            Executive  Legal Counsel          35            F      Female
29            Executive  Legal Counsel          35            F      Female
...                 ...            ...         ...          ...         ...
49623  Customer Service        Cashier          46            M        Male
49624  Customer Service        Cashier          44            F      Female
49625  Customer Service        Cashier          12            F      Female
49626  Customer Service        Cashier          31            M        Male
49627  Customer Service        Cashier          26            F      Female
49628  Customer Service        Cashier          17            F      Female
49629  Customer Service        Cashier          18            M        Male
49630  Customer Service        Cashier          44            M        Male
49631  Customer Service        Cashier          16            M        Male
49632  Customer Service        Cashier          46            M        Male
49633  Customer Service        Cashier          44            F      Female
49634  Customer Service        Cashier          27            M        Male
49635  Customer Service        Cashier          17            M        Male
49636  Customer Service        Cashier          26            M        Male
49637  Customer Service        Cashier          12            M        Male
49638  Customer Service        Cashier          40            F      Female
49639  Customer Service        Cashier           6            F      Female
49640  Customer Service        Cashier          15            M        Male
49641  Customer Service        Cashier          29            M        Male
49642  Customer Service        Cashier           8            F      Female
49643  Customer Service        Cashier          46            F      Female
49644           Produce  Produce Clerk          14            F      Female
49645  Customer Service        Cashier          33            M        Male
49646  Customer Service        Cashier          46            F      Female
49647  Customer Service        Cashier          27            M        Male
49648             Dairy   Dairy Person          34            M        Male
49649  Customer Service        Cashier          44            F      Female
49650  Customer Service        Cashier          39            F      Female
49651  Customer Service        Cashier          16            F      Female
49652  Customer Service        Cashier          13            F      Female

      termreason_desc   termtype_desc  STATUS_YEAR      STATUS BUSINESS_UNIT
0      Not Applicable  Not Applicable         2006      ACTIVE    HEADOFFICE
1      Not Applicable  Not Applicable         2007      ACTIVE    HEADOFFICE
2      Not Applicable  Not Applicable         2008      ACTIVE    HEADOFFICE
3      Not Applicable  Not Applicable         2009      ACTIVE    HEADOFFICE
4      Not Applicable  Not Applicable         2010      ACTIVE    HEADOFFICE
5      Not Applicable  Not Applicable         2011      ACTIVE    HEADOFFICE
6      Not Applicable  Not Applicable         2012      ACTIVE    HEADOFFICE
7      Not Applicable  Not Applicable         2013      ACTIVE    HEADOFFICE
8      Not Applicable  Not Applicable         2014      ACTIVE    HEADOFFICE
9      Not Applicable  Not Applicable         2015      ACTIVE    HEADOFFICE
10     Not Applicable  Not Applicable         2006      ACTIVE    HEADOFFICE
11     Not Applicable  Not Applicable         2007      ACTIVE    HEADOFFICE
12     Not Applicable  Not Applicable         2008      ACTIVE    HEADOFFICE
13     Not Applicable  Not Applicable         2009      ACTIVE    HEADOFFICE
14     Not Applicable  Not Applicable         2010      ACTIVE    HEADOFFICE
15     Not Applicable  Not Applicable         2011      ACTIVE    HEADOFFICE
16     Not Applicable  Not Applicable         2012      ACTIVE    HEADOFFICE
17     Not Applicable  Not Applicable         2013      ACTIVE    HEADOFFICE
18     Not Applicable  Not Applicable         2014      ACTIVE    HEADOFFICE
19     Not Applicable  Not Applicable         2015      ACTIVE    HEADOFFICE
20     Not Applicable  Not Applicable         2006      ACTIVE    HEADOFFICE
21     Not Applicable  Not Applicable         2007      ACTIVE    HEADOFFICE
22     Not Applicable  Not Applicable         2008      ACTIVE    HEADOFFICE
23     Not Applicable  Not Applicable         2009      ACTIVE    HEADOFFICE
24     Not Applicable  Not Applicable         2010      ACTIVE    HEADOFFICE
25     Not Applicable  Not Applicable         2011      ACTIVE    HEADOFFICE
26     Not Applicable  Not Applicable         2012      ACTIVE    HEADOFFICE
27     Not Applicable  Not Applicable         2013      ACTIVE    HEADOFFICE
28     Not Applicable  Not Applicable         2014      ACTIVE    HEADOFFICE
29     Not Applicable  Not Applicable         2015      ACTIVE    HEADOFFICE
...               ...             ...          ...         ...           ...
49623      Resignaton       Voluntary         2014  TERMINATED        STORES
49624      Resignaton       Voluntary         2014  TERMINATED        STORES
49625      Resignaton       Voluntary         2014  TERMINATED        STORES
49626      Resignaton       Voluntary         2014  TERMINATED        STORES
49627      Resignaton       Voluntary         2014  TERMINATED        STORES
49628      Resignaton       Voluntary         2014  TERMINATED        STORES
49629      Resignaton       Voluntary         2014  TERMINATED        STORES
49630      Resignaton       Voluntary         2014  TERMINATED        STORES
49631      Resignaton       Voluntary         2014  TERMINATED        STORES
49632      Resignaton       Voluntary         2014  TERMINATED        STORES
49633      Resignaton       Voluntary         2014  TERMINATED        STORES
49634          Layoff     Involuntary         2015  TERMINATED        STORES
49635      Resignaton       Voluntary         2014  TERMINATED        STORES
49636      Resignaton       Voluntary         2013  TERMINATED        STORES
49637      Resignaton       Voluntary         2014  TERMINATED        STORES
49638      Resignaton       Voluntary         2014  TERMINATED        STORES
49639      Resignaton       Voluntary         2014  TERMINATED        STORES
49640      Resignaton       Voluntary         2014  TERMINATED        STORES
49641      Resignaton       Voluntary         2014  TERMINATED        STORES
49642      Resignaton       Voluntary         2014  TERMINATED        STORES
49643      Resignaton       Voluntary         2014  TERMINATED        STORES
49644          Layoff     Involuntary         2014  TERMINATED        STORES
49645      Resignaton       Voluntary         2013  TERMINATED        STORES
49646      Resignaton       Voluntary         2013  TERMINATED        STORES
49647          Layoff     Involuntary         2015  TERMINATED        STORES
49648          Layoff     Involuntary         2015  TERMINATED        STORES
49649      Resignaton       Voluntary         2013  TERMINATED        STORES
49650          Layoff     Involuntary         2015  TERMINATED        STORES
49651      Resignaton       Voluntary         2013  TERMINATED        STORES
49652          Layoff     Involuntary         2014  TERMINATED        STORES

[49653 rows x 18 columns]>

# 2. Selecting Column in Data Frame

#### 2.A Check Values of Job_Title column

In [39]:
# A:
df['job_title']

0        CEO
1        CEO
2        CEO
3        CEO
4        CEO
5        CEO
6        CEO
7        CEO
8        CEO
9        CEO
10       CEO
11       CEO
12       CEO
13       CEO
14       CEO
15       CEO
16       CEO
17       CEO
18       CEO
19       CEO
20       CEO
21       CEO
22       CEO
23       CEO
24       CEO
25       CEO
26       CEO
27       CEO
28       CEO
29       CEO
        ...
49623    CEO
49624    CEO
49625    CEO
49626    CEO
49627    CEO
49628    CEO
49629    CEO
49630    CEO
49631    CEO
49632    CEO
49633    CEO
49634    CEO
49635    CEO
49636    CEO
49637    CEO
49638    CEO
49639    CEO
49640    CEO
49641    CEO
49642    CEO
49643    CEO
49644    CEO
49645    CEO
49646    CEO
49647    CEO
49648    CEO
49649    CEO
49650    CEO
49651    CEO
49652    CEO
Name: job_title, Length: 49653, dtype: object

#### 2.B Find How Many Rows Are in Each Job Title



```
# Expected Output
Meat Cutter                        9984
Dairy Person                       8590
Produce Clerk                      8237
.
.
.
```

In [ ]:
# A:
job_title.value_counts()

#### 2.C [BONUS] Write A Function to Row Count



```
def row_count(column_name):
    number_of_rows = 0
    return number_of_rows
```

#### 2.D Describe 'Age'

Find count,  mean,  std, min, max of column 'age'

In [21]:
# A:
df['age'].describe()

count    49653.000000
mean        42.077035
std         12.427257
min         19.000000
25%         31.000000
50%         42.000000
75%         53.000000
max         65.000000
Name: age, dtype: float64

##### 2.E [BONUS] Describe 'All Numeric Columns of Data Frame

Find count, mean, std, min, max of of all columns of dataframe

In [36]:
# A:
df.describe(include='all')

,EmployeeID,recorddate_key,birthdate_key,orighiredate_key,terminationdate_key,age,length_of_service,city_name,department_name,job_title,store_name,gender_short,gender_full,termreason_desc,termtype_desc,STATUS_YEAR,STATUS,BUSINESS_UNIT
count,49653.000000,49653,49653,49653,49653,49653.000000,49653.000000,49653,49653,49653,49653.000000,49653,49653,49653,49653,49653.000000,49653,49653
unique,NaN,130,5342,4415,1055,NaN,NaN,40,21,1,NaN,2,2,4,3,NaN,2,2
top,NaN,12/31/2013 0:00,8/4/1954,2/26/2006,1/1/1900,NaN,NaN,Vancouver,Meats,CEO,NaN,F,Female,Not Applicable,Not Applicable,NaN,ACTIVE,STORES
freq,NaN,5215,40,50,42450,NaN,NaN,11211,10269,49653,NaN,25898,25898,48168,48168,NaN,48168,49068
mean,4859.495740,NaN,NaN,NaN,NaN,42.077035,10.434596,NaN,NaN,NaN,27.297605,NaN,NaN,NaN,NaN,2010.612612,NaN,NaN
std,1826.571142,NaN,NaN,NaN,NaN,12.427257,6.325286,NaN,NaN,NaN,13.514134,NaN,NaN,NaN,NaN,2.845577,NaN,NaN
min,1318.000000,NaN,NaN,NaN,NaN,19.000000,0.000000,NaN,NaN,NaN,1.000000,NaN,NaN,NaN,NaN,2006.000000,NaN,NaN
25%,3360.000000,NaN,NaN,NaN,NaN,31.000000,5.000000,NaN,NaN,NaN,16.000000,NaN,NaN,NaN,NaN,2008.000000,NaN,NaN
50%,5031.000000,NaN,NaN,NaN,NaN,42.000000,10.000000,NaN,NaN,NaN,28.000000,NaN,NaN,NaN,NaN,2011.000000,NaN,NaN
75%,6335.000000,NaN,NaN,NaN,NaN,53.000000,15.000000,NaN,NaN,NaN,42.000000,NaN,NaN,NaN,NaN,2013.000000,NaN,NaN
max,8336.000000,NaN,NaN,NaN,NaN,65.000000,26.000000,NaN,NaN,NaN,46.000000,NaN,NaN,NaN,NaN,2015.000000,NaN,NaN

# 3. Making The Index Meaningful

In [ ]:
# A:

#### 3.A Find A Specifc Row Using Index

In [ ]:
# A:

#### 3.B Sort Data Frame using Index

In [ ]:
# A:

#### 3.C [BONUS] Sort Data Frame using Age

In [ ]:
# A:

#### 3.D [BONUS] Using Sample Select Any Row

In [ ]:
# A:

# 4. Query Data Frame

#### 4.A Find Rows Where Job_Title is CEO

In [23]:
# A:
columns

Index(['EmployeeID', 'recorddate_key', 'birthdate_key', 'orighiredate_key',
       'terminationdate_key', 'age', 'length_of_service', 'city_name',
       'department_name', 'job_title', 'store_name', 'gender_short',
       'gender_full', 'termreason_desc', 'termtype_desc', 'STATUS_YEAR',
       'STATUS', 'BUSINESS_UNIT'],
      dtype='object')

#### 4.B Group By Age

In [ ]:
# A:

# 5. Visualization

#### 5.A Plot Histogram of Age

In [ ]:
# A:

#### 5.B BoxPlot of Age

In [ ]:
# A:

#### 5.C Scatterplot of age and length_of_service

In [ ]:
# A:

#### 5.D Plot Histogram of store_name

In [ ]:
# A:

#### 5.E Print Statistical Summary of Age

In [ ]:
# A: