In [6]:
import sqlite3
#sqlite_db = 'test_db.sqlite'
sqlite_db = 'myfirstdatabase.db'
conn = sqlite3.connect(sqlite_db) 
c = conn.cursor()

In [7]:
c.execute('select * from tbl1;')

OperationalError: no such table: tbl1