![alt text](https://i.imgur.com/1WaY7aA.png)

# Lab 2.1.4 
# *Python with MongoDB*

## Introduction to PyMongo

In [7]:
from IPython.core.display import display, HTML
import pymongo
from pymongo import MongoClient
print ('Mongo version ' + pymongo.__version__)

Mongo version 3.8.0

In [2]:
!pip install pymongo

Collecting pymongo
  Downloading https://files.pythonhosted.org/packages/bd/ee/35337df27629f1936591e90b97ad3a19670259ddfa6fbd6b38a12d68454d/pymongo-3.8.0-cp37-cp37m-macosx_10_9_x86_64.whl (314kB)
    100% |████████████████████████████████| 317kB 11.3MB/s ta 0:00:01    48% |███████████████▋                | 153kB 14.3MB/s eta 0:00:01
twisted 18.7.0 requires PyHamcrest>=1.9.0, which is not installed.
Installing collected packages: pymongo
Successfully installed pymongo-3.8.0
You are using pip version 10.0.1, however version 19.1.1 is available.
You should consider upgrading via the 'pip install --upgrade pip' command.

In [16]:
!pip install neo4j-driver

Collecting neo4j-driver
  Downloading https://files.pythonhosted.org/packages/1d/14/35adb928be24d5c95a3de88930c79b82b8964cc070a9b1bd1905e8c040c8/neo4j-driver-1.7.4.tar.gz
Collecting neobolt~=1.7.13 (from neo4j-driver)
  Downloading https://files.pythonhosted.org/packages/60/60/80ff9b440ecfc649689d5ff7836f608b675711842a07c5ad17eff48ae4e7/neobolt-1.7.13.tar.gz (183kB)
    100% |████████████████████████████████| 184kB 9.9MB/s eta 0:00:01
Collecting neotime~=1.7.1 (from neo4j-driver)
  Downloading https://files.pythonhosted.org/packages/0b/7e/ca368a8d8e288be1352d4e2df35da1e01f8aaffbf526695df71630bcb8a6/neotime-1.7.4.tar.gz
Requirement already satisfied: pytz in /Users/Vani/anaconda3/lib/python3.7/site-packages (from neotime~=1.7.1->neo4j-driver) (2018.5)
Requirement already satisfied: six in /Users/Vani/anaconda3/lib/python3.7/site-packages (from neotime~=1.7.1->neo4j-driver) (1.11.0)
Building wheels for collected packages: neo4j-driver, neobolt, neotime
  Running setup.py bdist_wheel for neo4j-driver ... done
  Stored in directory: /Users/Vani/Library/Caches/pip/wheels/d0/a4/93/3d5128e4fdba763df21ffb9c78a223da878974b3a0760ea794
  Running setup.py bdist_wheel for neobolt ... done
  Stored in directory: /Users/Vani/Library/Caches/pip/wheels/53/66/08/88253cffcc2a51a0adc022795487b68e013560fe2fd73352ae
  Running setup.py bdist_wheel for neotime ... done
  Stored in directory: /Users/Vani/Library/Caches/pip/wheels/d4/b4/c4/ab867cd0ac9e667f8cd269f9364fd1cb8ee75fe50f5ce97c79
Successfully built neo4j-driver neobolt neotime
twisted 18.7.0 requires PyHamcrest>=1.9.0, which is not installed.
Installing collected packages: neobolt, neotime, neo4j-driver
Successfully installed neo4j-driver-1.7.4 neobolt-1.7.13 neotime-1.7.4
You are using pip version 10.0.1, however version 19.1.1 is available.
You should consider upgrading via the 'pip install --upgrade pip' command.

Start the mongod server (if it isn't lready running) by executing  
`mongod`  
at the command prompt.

In [3]:
client = MongoClient('localhost', 27017)

In [4]:
db = client.test
collection = db.people
collection.drop()

Create a new database:

In [5]:
mydb = client["mydatabase"]

Confirm that the database exists ... 

- list all databases in your system:

In [6]:
print(client.list_database_names())

['admin', 'config', 'local']

- check for the database by name:

In [9]:
databases = client.list_database_names()
if "database1" in databases:
    print("Database1 already exists")
else:
    print("Database1 not found")

Database1 not found

The new database was not found because mongodb is lazy: the db won't get created until data has been written to it!

Create a collection called "customers" (with object name `mycol`):

In [10]:
mycol = mydb['customers']

Create a document (i.e. a dictionary) with two name:value items 
("name" = "John", and "address" = "Highway 37") and insert 
it into the "customers" collection:

In [11]:
dict1 = {"name":"John","address":"Highway 37"}
mycol.insert_one(dict1)

Now test for the existence of the database:

In [12]:
print(client.list_database_names())

['admin', 'config', 'local', 'mydatabase']

List all collections in the database:

In [13]:
print(mydb.list_collection_names())

['customers']

Insert another record in the "customers" collection 
("name" = "Peter", "address" = "Lowstreet 27") 
and return the value of the _id field:

In [16]:
dict1 = {"name":"Peter","address":"Lowstreet 27"}
insertid = mycol.insert_one(dict1)
print(insertid.inserted_id)

5d2828c6d184a0c59d12b3aa

Given the list of dicts below, insert multiple documents into 
the collection using the insert_many() method:

In [20]:
mylist = [
  { "name": "Amy", "address": "Apple st 652"},
  { "name": "Hannah", "address": "Mountain 21"},
  { "name": "Michael", "address": "Valley 345"},
  { "name": "Sandy", "address": "Ocean blvd 2"},
  { "name": "Betty", "address": "Green Grass 1"},
  { "name": "Richard", "address": "Sky st 331"},
  { "name": "Susan", "address": "One way 98"},
  { "name": "Vicky", "address": "Yellow Garden 2"},
  { "name": "Ben", "address": "Park Lane 38"},
  { "name": "William", "address": "Central st 954"},
  { "name": "Chuck", "address": "Main Road 989"},
  { "name": "Viola", "address": "Sideway 1633"}
]

In [21]:
new_val = mycol.insert_many(mylist)

Print a list of the _id values of the inserted documents:

In [22]:
new_val.inserted_ids

[ObjectId('5d282931d184a0c59d12b3b7'),
 ObjectId('5d282931d184a0c59d12b3b8'),
 ObjectId('5d282931d184a0c59d12b3b9'),
 ObjectId('5d282931d184a0c59d12b3ba'),
 ObjectId('5d282931d184a0c59d12b3bb'),
 ObjectId('5d282931d184a0c59d12b3bc'),
 ObjectId('5d282931d184a0c59d12b3bd'),
 ObjectId('5d282931d184a0c59d12b3be'),
 ObjectId('5d282931d184a0c59d12b3bf'),
 ObjectId('5d282931d184a0c59d12b3c0'),
 ObjectId('5d282931d184a0c59d12b3c1'),
 ObjectId('5d282931d184a0c59d12b3c2')]

Execute the next cell to insert a list of dicts with specified `_id`s:

In [23]:
mylist = [
  { "_id": 1, "name": "John", "address": "Highway 37"},
  { "_id": 2, "name": "Peter", "address": "Lowstreet 27"},
  { "_id": 3, "name": "Amy", "address": "Apple st 652"},
  { "_id": 4, "name": "Hannah", "address": "Mountain 21"},
  { "_id": 5, "name": "Michael", "address": "Valley 345"},
  { "_id": 6, "name": "Sandy", "address": "Ocean blvd 2"},
  { "_id": 7, "name": "Betty", "address": "Green Grass 1"},
  { "_id": 8, "name": "Richard", "address": "Sky st 331"},
  { "_id": 9, "name": "Susan", "address": "One way 98"},
  { "_id": 10, "name": "Vicky", "address": "Yellow Garden 2"},
  { "_id": 11, "name": "Ben", "address": "Park Lane 38"},
  { "_id": 12, "name": "William", "address": "Central st 954"},
  { "_id": 13, "name": "Chuck", "address": "Main Road 989"},
  { "_id": 14, "name": "Viola", "address": "Sideway 1633"}
]
x = mycol.insert_many(mylist)
print(x.inserted_ids)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

Now try inserting a new dict with an existing `_id`:

In [24]:
x = mycol.insert_one({ "_id": 14, "name": "Manuel", "address": "Barcelona"})

DuplicateKeyError: E11000 duplicate key error collection: mydatabase.customers index: _id_ dup key: { : 14 }

So, if we want to manage `_id`s in code, we need to be careful!

This returns the first document in the collection:

In [25]:
x = mycol.find_one()
print(x)

{'_id': ObjectId('5d2827b2d184a0c59d12b3a9'), 'name': 'John', 'address': 'Highway 37'}

Do the same for the document containing "name" = "Hannah":

In [27]:
x = mycol.find_one({'name': 'John'})
print(x)

{'_id': ObjectId('5d2827b2d184a0c59d12b3a9'), 'name': 'John', 'address': 'Highway 37'}

This returns (and prints) all documents in the collection:

In [28]:
for x in mycol.find():
  print(x)

{'_id': ObjectId('5d2827b2d184a0c59d12b3a9'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('5d2828c6d184a0c59d12b3aa'), 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': ObjectId('5d2828ecd184a0c59d12b3ab'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('5d2828ecd184a0c59d12b3ac'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('5d2828ecd184a0c59d12b3ad'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('5d2828ecd184a0c59d12b3ae'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('5d2828ecd184a0c59d12b3af'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('5d2828ecd184a0c59d12b3b0'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('5d2828ecd184a0c59d12b3b1'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('5d2828ecd184a0c59d12b3b2'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('5d2828ecd184a0c59d12b3b3'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('5d2828ecd184a0c59d12b3b4'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('5d2828ecd184a0c59d12b3b5'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('5d2828ecd184a0c59d12b3b6'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('5d282931d184a0c59d12b3b7'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('5d282931d184a0c59d12b3b8'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('5d282931d184a0c59d12b3b9'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('5d282931d184a0c59d12b3ba'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('5d282931d184a0c59d12b3bb'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('5d282931d184a0c59d12b3bc'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('5d282931d184a0c59d12b3bd'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('5d282931d184a0c59d12b3be'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('5d282931d184a0c59d12b3bf'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('5d282931d184a0c59d12b3c0'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('5d282931d184a0c59d12b3c1'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('5d282931d184a0c59d12b3c2'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': 1, 'name': 'John', 'address': 'Highway 37'}
{'_id': 2, 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': 3, 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': 4, 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': 5, 'name': 'Michael', 'address': 'Valley 345'}
{'_id': 6, 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': 7, 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': 8, 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': 9, 'name': 'Susan', 'address': 'One way 98'}
{'_id': 10, 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': 11, 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': 12, 'name': 'William', 'address': 'Central st 954'}
{'_id': 13, 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': 14, 'name': 'Viola', 'address': 'Sideway 1633'}

This returns only the name and address fields:

In [29]:
for x in mycol.find({},{ "_id": 0, "name": 1, "address": 1 }):
  print(x)

{'name': 'John', 'address': 'Highway 37'}
{'name': 'Peter', 'address': 'Lowstreet 27'}
{'name': 'Amy', 'address': 'Apple st 652'}
{'name': 'Hannah', 'address': 'Mountain 21'}
{'name': 'Michael', 'address': 'Valley 345'}
{'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'name': 'Betty', 'address': 'Green Grass 1'}
{'name': 'Richard', 'address': 'Sky st 331'}
{'name': 'Susan', 'address': 'One way 98'}
{'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'name': 'Ben', 'address': 'Park Lane 38'}
{'name': 'William', 'address': 'Central st 954'}
{'name': 'Chuck', 'address': 'Main Road 989'}
{'name': 'Viola', 'address': 'Sideway 1633'}
{'name': 'Amy', 'address': 'Apple st 652'}
{'name': 'Hannah', 'address': 'Mountain 21'}
{'name': 'Michael', 'address': 'Valley 345'}
{'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'name': 'Betty', 'address': 'Green Grass 1'}
{'name': 'Richard', 'address': 'Sky st 331'}
{'name': 'Susan', 'address': 'One way 98'}
{'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'name': 'Ben', 'address': 'Park Lane 38'}
{'name': 'William', 'address': 'Central st 954'}
{'name': 'Chuck', 'address': 'Main Road 989'}
{'name': 'Viola', 'address': 'Sideway 1633'}
{'name': 'John', 'address': 'Highway 37'}
{'name': 'Peter', 'address': 'Lowstreet 27'}
{'name': 'Amy', 'address': 'Apple st 652'}
{'name': 'Hannah', 'address': 'Mountain 21'}
{'name': 'Michael', 'address': 'Valley 345'}
{'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'name': 'Betty', 'address': 'Green Grass 1'}
{'name': 'Richard', 'address': 'Sky st 331'}
{'name': 'Susan', 'address': 'One way 98'}
{'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'name': 'Ben', 'address': 'Park Lane 38'}
{'name': 'William', 'address': 'Central st 954'}
{'name': 'Chuck', 'address': 'Main Road 989'}
{'name': 'Viola', 'address': 'Sideway 1633'}

Print only the `_id` and name fields:

In [32]:
for x in mycol.find({},{ "_id": 1,"name": 1}):
  print(x)

{'_id': ObjectId('5d2827b2d184a0c59d12b3a9'), 'name': 'John'}
{'_id': ObjectId('5d2828c6d184a0c59d12b3aa'), 'name': 'Peter'}
{'_id': ObjectId('5d2828ecd184a0c59d12b3ab'), 'name': 'Amy'}
{'_id': ObjectId('5d2828ecd184a0c59d12b3ac'), 'name': 'Hannah'}
{'_id': ObjectId('5d2828ecd184a0c59d12b3ad'), 'name': 'Michael'}
{'_id': ObjectId('5d2828ecd184a0c59d12b3ae'), 'name': 'Sandy'}
{'_id': ObjectId('5d2828ecd184a0c59d12b3af'), 'name': 'Betty'}
{'_id': ObjectId('5d2828ecd184a0c59d12b3b0'), 'name': 'Richard'}
{'_id': ObjectId('5d2828ecd184a0c59d12b3b1'), 'name': 'Susan'}
{'_id': ObjectId('5d2828ecd184a0c59d12b3b2'), 'name': 'Vicky'}
{'_id': ObjectId('5d2828ecd184a0c59d12b3b3'), 'name': 'Ben'}
{'_id': ObjectId('5d2828ecd184a0c59d12b3b4'), 'name': 'William'}
{'_id': ObjectId('5d2828ecd184a0c59d12b3b5'), 'name': 'Chuck'}
{'_id': ObjectId('5d2828ecd184a0c59d12b3b6'), 'name': 'Viola'}
{'_id': ObjectId('5d282931d184a0c59d12b3b7'), 'name': 'Amy'}
{'_id': ObjectId('5d282931d184a0c59d12b3b8'), 'name': 'Hannah'}
{'_id': ObjectId('5d282931d184a0c59d12b3b9'), 'name': 'Michael'}
{'_id': ObjectId('5d282931d184a0c59d12b3ba'), 'name': 'Sandy'}
{'_id': ObjectId('5d282931d184a0c59d12b3bb'), 'name': 'Betty'}
{'_id': ObjectId('5d282931d184a0c59d12b3bc'), 'name': 'Richard'}
{'_id': ObjectId('5d282931d184a0c59d12b3bd'), 'name': 'Susan'}
{'_id': ObjectId('5d282931d184a0c59d12b3be'), 'name': 'Vicky'}
{'_id': ObjectId('5d282931d184a0c59d12b3bf'), 'name': 'Ben'}
{'_id': ObjectId('5d282931d184a0c59d12b3c0'), 'name': 'William'}
{'_id': ObjectId('5d282931d184a0c59d12b3c1'), 'name': 'Chuck'}
{'_id': ObjectId('5d282931d184a0c59d12b3c2'), 'name': 'Viola'}
{'_id': 1, 'name': 'John'}
{'_id': 2, 'name': 'Peter'}
{'_id': 3, 'name': 'Amy'}
{'_id': 4, 'name': 'Hannah'}
{'_id': 5, 'name': 'Michael'}
{'_id': 6, 'name': 'Sandy'}
{'_id': 7, 'name': 'Betty'}
{'_id': 8, 'name': 'Richard'}
{'_id': 9, 'name': 'Susan'}
{'_id': 10, 'name': 'Vicky'}
{'_id': 11, 'name': 'Ben'}
{'_id': 12, 'name': 'William'}
{'_id': 13, 'name': 'Chuck'}
{'_id': 14, 'name': 'Viola'}

So, we must explicitly use `"_id": 0` to exclude it, but for other fields we simply omit them from the dict argument.

To include field conditionals in a query, we use `$` operators. This finds addresses starting with "S" or greater:

In [33]:
myquery = { "address": { "$gt": "S" } }
mydoc = mycol.find(myquery)
for x in mydoc:
  print(x)

{'_id': ObjectId('5d2828ecd184a0c59d12b3ad'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('5d2828ecd184a0c59d12b3b0'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('5d2828ecd184a0c59d12b3b2'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('5d2828ecd184a0c59d12b3b6'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('5d282931d184a0c59d12b3b9'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('5d282931d184a0c59d12b3bc'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('5d282931d184a0c59d12b3be'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('5d282931d184a0c59d12b3c2'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': 5, 'name': 'Michael', 'address': 'Valley 345'}
{'_id': 8, 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': 10, 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': 14, 'name': 'Viola', 'address': 'Sideway 1633'}

Here are some more comparison operators:

            $gt, $gte, $eq, $in, $nin, $exists, $and, $or, $not
            
Experiment with these until you understand how to use them.

Now find all docs with an address that begins with "S":  
(HINT: The value for "address" in the argument should be the regex-based dict { "$regex": "^S" }.)

In [42]:
myquery = { "address": { "$regex": "^S" } }
mydoc = mycol.find(myquery)
for x in mydoc:
  print(x)

{'_id': ObjectId('5d2828ecd184a0c59d12b3b0'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('5d2828ecd184a0c59d12b3b6'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('5d282931d184a0c59d12b3bc'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('5d282931d184a0c59d12b3c2'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': 8, 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': 14, 'name': 'Viola', 'address': 'Sideway 1633'}

In [36]:
myquery = { "address": { "$gte": "S" } }
mydoc = mycol.find(myquery)
for x in mydoc:
  print(x)

{'_id': ObjectId('5d2828ecd184a0c59d12b3ad'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('5d2828ecd184a0c59d12b3b0'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('5d2828ecd184a0c59d12b3b2'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('5d2828ecd184a0c59d12b3b6'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('5d282931d184a0c59d12b3b9'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('5d282931d184a0c59d12b3bc'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('5d282931d184a0c59d12b3be'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('5d282931d184a0c59d12b3c2'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': 5, 'name': 'Michael', 'address': 'Valley 345'}
{'_id': 8, 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': 10, 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': 14, 'name': 'Viola', 'address': 'Sideway 1633'}

Sorting can be applied by invoking the Sort() method after the Find() method. Sort the collection by the name field:

In [41]:
doc = mycol.find().sort('name')
for i in doc:
    print(i)

{'_id': ObjectId('5d2828ecd184a0c59d12b3ab'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('5d282931d184a0c59d12b3b7'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': 3, 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('5d2828ecd184a0c59d12b3b3'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('5d282931d184a0c59d12b3bf'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': 11, 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('5d2828ecd184a0c59d12b3af'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('5d282931d184a0c59d12b3bb'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': 7, 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('5d2828ecd184a0c59d12b3b5'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('5d282931d184a0c59d12b3c1'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': 13, 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('5d2828ecd184a0c59d12b3ac'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('5d282931d184a0c59d12b3b8'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': 4, 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('5d2827b2d184a0c59d12b3a9'), 'name': 'John', 'address': 'Highway 37'}
{'_id': 1, 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('5d2828ecd184a0c59d12b3ad'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('5d282931d184a0c59d12b3b9'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': 5, 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('5d2828c6d184a0c59d12b3aa'), 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': 2, 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': ObjectId('5d2828ecd184a0c59d12b3b0'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('5d282931d184a0c59d12b3bc'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': 8, 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('5d2828ecd184a0c59d12b3ae'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('5d282931d184a0c59d12b3ba'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': 6, 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('5d2828ecd184a0c59d12b3b1'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('5d282931d184a0c59d12b3bd'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': 9, 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('5d2828ecd184a0c59d12b3b2'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('5d282931d184a0c59d12b3be'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': 10, 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('5d2828ecd184a0c59d12b3b6'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('5d282931d184a0c59d12b3c2'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': 14, 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('5d2828ecd184a0c59d12b3b4'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('5d282931d184a0c59d12b3c0'), 'name': 'William', 'address': 'Central st 954'}
{'_id': 12, 'name': 'William', 'address': 'Central st 954'}

Now sort in reverse order (HINT: The Sort() method takes an optional second parameter.)

In [43]:
doc = mycol.find().sort('name', direction=pymongo.DESCENDING)
for i in doc:
    print(i)

{'_id': ObjectId('5d2828ecd184a0c59d12b3b4'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('5d282931d184a0c59d12b3c0'), 'name': 'William', 'address': 'Central st 954'}
{'_id': 12, 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('5d2828ecd184a0c59d12b3b6'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('5d282931d184a0c59d12b3c2'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': 14, 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('5d2828ecd184a0c59d12b3b2'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('5d282931d184a0c59d12b3be'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': 10, 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('5d2828ecd184a0c59d12b3b1'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('5d282931d184a0c59d12b3bd'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': 9, 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('5d2828ecd184a0c59d12b3ae'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('5d282931d184a0c59d12b3ba'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': 6, 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('5d2828ecd184a0c59d12b3b0'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('5d282931d184a0c59d12b3bc'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': 8, 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('5d2828c6d184a0c59d12b3aa'), 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': 2, 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': ObjectId('5d2828ecd184a0c59d12b3ad'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('5d282931d184a0c59d12b3b9'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': 5, 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('5d2827b2d184a0c59d12b3a9'), 'name': 'John', 'address': 'Highway 37'}
{'_id': 1, 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('5d2828ecd184a0c59d12b3ac'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('5d282931d184a0c59d12b3b8'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': 4, 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('5d2828ecd184a0c59d12b3b5'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('5d282931d184a0c59d12b3c1'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': 13, 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('5d2828ecd184a0c59d12b3af'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('5d282931d184a0c59d12b3bb'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': 7, 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('5d2828ecd184a0c59d12b3b3'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('5d282931d184a0c59d12b3bf'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': 11, 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('5d2828ecd184a0c59d12b3ab'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('5d282931d184a0c59d12b3b7'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': 3, 'name': 'Amy', 'address': 'Apple st 652'}

A single record can be deleted by specifying some criterion:

In [44]:
mycol.delete_one({ "address": "Mountain 21" })

Now delete all docs with the 2-digit `Id` values:

In [45]:
mycol.delete_many({ "_id": {"$lt": 15} })
for x in mycol.find():
  print(x)

{'_id': ObjectId('5d2827b2d184a0c59d12b3a9'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('5d2828c6d184a0c59d12b3aa'), 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': ObjectId('5d2828ecd184a0c59d12b3ab'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('5d2828ecd184a0c59d12b3ad'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('5d2828ecd184a0c59d12b3ae'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('5d2828ecd184a0c59d12b3af'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('5d2828ecd184a0c59d12b3b0'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('5d2828ecd184a0c59d12b3b1'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('5d2828ecd184a0c59d12b3b2'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('5d2828ecd184a0c59d12b3b3'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('5d2828ecd184a0c59d12b3b4'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('5d2828ecd184a0c59d12b3b5'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('5d2828ecd184a0c59d12b3b6'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('5d282931d184a0c59d12b3b7'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('5d282931d184a0c59d12b3b8'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('5d282931d184a0c59d12b3b9'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('5d282931d184a0c59d12b3ba'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('5d282931d184a0c59d12b3bb'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('5d282931d184a0c59d12b3bc'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('5d282931d184a0c59d12b3bd'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('5d282931d184a0c59d12b3be'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('5d282931d184a0c59d12b3bf'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('5d282931d184a0c59d12b3c0'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('5d282931d184a0c59d12b3c1'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('5d282931d184a0c59d12b3c2'), 'name': 'Viola', 'address': 'Sideway 1633'}

This would delete all docs:
`x = mycol.delete_many({})`

This would remove the collection:
`mycol.drop()`

Change the first instance of "address" == "Valley 345" to "Canyon 123" using update_one().  
(HINT: The 1st paramater of update_one() is the criterion (query); the 2nd is dict specifying the field to change and its new value.)

In [47]:
myquery = { "address": "Valley 345" }
newvalues = { "$set": { "address": "Canyon 123" } }

mycol.update_one(myquery, newvalues)
for x in mycol.find():
  print(x)

{'_id': ObjectId('5d2827b2d184a0c59d12b3a9'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('5d2828c6d184a0c59d12b3aa'), 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': ObjectId('5d2828ecd184a0c59d12b3ab'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('5d2828ecd184a0c59d12b3ad'), 'name': 'Michael', 'address': 'Canyon 123'}
{'_id': ObjectId('5d2828ecd184a0c59d12b3ae'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('5d2828ecd184a0c59d12b3af'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('5d2828ecd184a0c59d12b3b0'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('5d2828ecd184a0c59d12b3b1'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('5d2828ecd184a0c59d12b3b2'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('5d2828ecd184a0c59d12b3b3'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('5d2828ecd184a0c59d12b3b4'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('5d2828ecd184a0c59d12b3b5'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('5d2828ecd184a0c59d12b3b6'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('5d282931d184a0c59d12b3b7'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('5d282931d184a0c59d12b3b8'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('5d282931d184a0c59d12b3b9'), 'name': 'Michael', 'address': 'Canyon 123'}
{'_id': ObjectId('5d282931d184a0c59d12b3ba'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('5d282931d184a0c59d12b3bb'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('5d282931d184a0c59d12b3bc'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('5d282931d184a0c59d12b3bd'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('5d282931d184a0c59d12b3be'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('5d282931d184a0c59d12b3bf'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('5d282931d184a0c59d12b3c0'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('5d282931d184a0c59d12b3c1'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('5d282931d184a0c59d12b3c2'), 'name': 'Viola', 'address': 'Sideway 1633'}

The limit() method can be applied after the find() method to limit the number of docs returned. Show the first 5 docs:

In [48]:
myresult = mycol.find().limit(5)
for i in myresult:
  print(i)

{'_id': ObjectId('5d2827b2d184a0c59d12b3a9'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('5d2828c6d184a0c59d12b3aa'), 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': ObjectId('5d2828ecd184a0c59d12b3ab'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('5d2828ecd184a0c59d12b3ad'), 'name': 'Michael', 'address': 'Canyon 123'}
{'_id': ObjectId('5d2828ecd184a0c59d12b3ae'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}

## PyMongo for Data Science

MongoDB has many more features of interest to developers, but the main focus of a data scientist will be wrangling and munging the data. It may or may not be desirable to do all the data munging in Pandas; for a large, distributed database, it may be imperative to perform aggregation in MongoDB.

In [49]:
# Ref:  https://rsandstroem.github.io/MongoDBDemo.html
import os
import pandas as pd
import numpy as np

This code creates a database named "test" and populates it from a JSON file using the mongoimport program (executed in the operating systems itself, rather than in Python):

In [50]:
db = client.test
# Drop the collection in case it was previously created:
# collection = db.people
# collection.drop()

In [51]:
os.chdir("dat")

FileNotFoundError: [Errno 2] No such file or directory: 'dat'

In [52]:
pwd()

'/Users/Vani/Documents/BlackCat/DSIA-SYD-FT-Projects-201907/Vani/LABS 2'

In [66]:
# if this does not return 0, execute mongoimport from a commmand window instead:
os.system('mongoimport --db test --collection people --drop --file /Users/Vani/downloads/dummyData.json')

/Users/Vani/Documents/BlackCat/DSIA-SYD-FT-Projects-201907/Vani/LABS 2/people.csv

256

In [67]:
os.system('mongoimport -d test -c people --file /Users/Vani/Documents/BlackCat/DSIA-SYD-FT-Projects-201907/Vani/LABS 2/dummyData.json')

256

In [68]:
os.chdir("..")

In [69]:
pwd()

'/Users/Vani/Documents/BlackCat'

In [70]:
db = client.test
collection = db.people
cursor = collection.find().sort('Age',pymongo.ASCENDING).limit(3)
for doc in cursor:
    print (doc)

Here is a small demonstration of the MongoDB aggregation framework. We want to create a table of the number of persons in each country and their average age. To do it we group by country. We extract the results from MongoDB aggregation into a pandas dataframe, and use the country as index.

In [60]:
pipeline = [
        {"$group": {"_id":"$Country",
             "AvgAge":{"$avg":"$Age"},
             "Count":{"$sum":1},
        }},
        {"$sort":{"Count":-1,"AvgAge":1}}
]
aggResult = collection.aggregate(pipeline) # returns a cursor

df1 = pd.DataFrame(list(aggResult)) # use list to turn the cursor to an array of documents
df1 = df1.set_index("_id")
df1.head()

KeyError: '_id'

For simple cases one can either use a cursor through find("search term") or use the "$match" operator in the aggregation framework, like this:

In [63]:
pipeline = [
        {"$match": {"Country":"China"}},
]
aggResult = collection.aggregate(pipeline)
df2 = pd.DataFrame(list(aggResult))
df2.head()

Empty DataFrame
Columns: []
Index: []

Now we can apply all the power of Python libraries to analyse and visualise the data. Here, we will use the folium package to plot markers for the locations of the people we just found in China (click on a marker to see their data):

In [64]:
# Un-comment and execute to install folium pkg (1st time only):
# import sys
# !{sys.executable} -m pip install folium

In [65]:
import folium
print ('Folium version ' + folium.__version__)

world_map = folium.Map(location = [35, 100], zoom_start = 4)
for i in range(len(df2)):
    location = [float(loc) for loc in df2.Location[i].split(',')]
    folium.Marker(location = location, popup = df2.Name[i] + ', age:' + str(df2.Age[i])).add_to(world_map)
    
world_map

ModuleNotFoundError: No module named 'folium'

## HOMEWORK:

1. Read up on how to perform aggregation in mongoDB. Insert a duplicate record into the collection:
        mydict = { "name": "John", "address": "Highway 37" }
   Now write a command to find docs with a duplicate "name" field (using aggregation) and remove them.  
   Print the collection.

2. Read up on how to apply indexes in mongoDB. Create an index on the "name" and "address" fields in this collection.
   Print the indexes for the collection.



> 
>
>

**© 2019 Data Science Institute of Australia**