![alt text](https://i.imgur.com/1WaY7aA.png)

# Lab 2.1.4 
# *Python with MongoDB*

## Introduction to PyMongo

In [1]:
# !pip install --ignore-installed pymongo

In [34]:
from IPython.core.display import display, HTML
import pymongo
from pymongo import MongoClient
print ('Mongo version ' + pymongo.__version__)

Mongo version 3.8.0

Start the mongod server (if it isn't lready running) by executing  
`mongod`  
at the command prompt.

In [35]:
client = MongoClient('localhost', 27017)

What would this do?

In [38]:
db = client.test
hieu = db.people
hieu.drop()
#Drops collection"people" from database "test"
#meaning to delete the test form collections

What would this do?

In [5]:
client.test.drop
#delect = drops the database test

Collection(Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'test'), 'drop')

In [6]:
# Drop database "mydatabase" before creating it below: 
client.mydatabase.drop

Collection(Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'mydatabase'), 'drop')

Create a new database:

In [7]:
mydb = client["mydatabase"]

Confirm that the database exists ... 

- list all databases in your system:

In [8]:
print(client.list_database_names())

['admin', 'config', 'local', 'mydatabase']

- check for the database by name:

In [39]:
dblist = client.list_database_names()
if "mydatabase" in dblist:
    print("The database does exist.")

The database does exist.

The new database was not found because mongodb is lazy: the db won't get created until data has been written to it!

Create a collection called "customers" (with object name `mycol`):

In [10]:
mycol = mydb["customers"]

Create a document (i.e. a dictionary) with two name:value items 
("name" = "John", and "address" = "Highway 37") and insert 
it into the "customers" collection:

In [11]:
my_d = {"name":"John", "address":"Highway 37"}
insert_c = mycol.insert_one(my_d)

Now test for the existence of the database:

In [12]:
print(client.list_database_names())

['admin', 'config', 'local', 'mydatabase']

List all collections in the database:

In [13]:
print(mydb.list_collection_names())

['customers']

Insert another record in the "customers" collection 
("name" = "Peter", "address" = "Lowstreet 27") 
and return the value of the _id field:

In [14]:
add_id = {"name":"Peter", "address":"Lowstreet 27"}
insert_c = mycol.insert_one(add_id)
print(insert_c.inserted_id)

5d2d5fef8fe67b849af7a3bd

Given the list of dicts below, insert multiple documents into 
the collection using the insert_many() method:

In [15]:
mylist = [
  { "name": "Amy", "address": "Apple st 652"},
  { "name": "Hannah", "address": "Mountain 21"},
  { "name": "Michael", "address": "Valley 345"},
  { "name": "Sandy", "address": "Ocean blvd 2"},
  { "name": "Betty", "address": "Green Grass 1"},
  { "name": "Richard", "address": "Sky st 331"},
  { "name": "Susan", "address": "One way 98"},
  { "name": "Vicky", "address": "Yellow Garden 2"},
  { "name": "Ben", "address": "Park Lane 38"},
  { "name": "William", "address": "Central st 954"},
  { "name": "Chuck", "address": "Main Road 989"},
  { "name": "Viola", "address": "Sideway 1633"}
]

In [16]:
insert_c = mycol.insert_many(mylist)

Print a list of the _id values of the inserted documents:

In [17]:
print(insert_c.inserted_ids)

[ObjectId('5d2d5fef8fe67b849af7a3be'), ObjectId('5d2d5fef8fe67b849af7a3bf'), ObjectId('5d2d5fef8fe67b849af7a3c0'), ObjectId('5d2d5fef8fe67b849af7a3c1'), ObjectId('5d2d5fef8fe67b849af7a3c2'), ObjectId('5d2d5fef8fe67b849af7a3c3'), ObjectId('5d2d5fef8fe67b849af7a3c4'), ObjectId('5d2d5fef8fe67b849af7a3c5'), ObjectId('5d2d5fef8fe67b849af7a3c6'), ObjectId('5d2d5fef8fe67b849af7a3c7'), ObjectId('5d2d5fef8fe67b849af7a3c8'), ObjectId('5d2d5fef8fe67b849af7a3c9')]

Execute the next cell to insert a list of dicts with specified `_id`s:

In [18]:
# mylist = [
#   { "_id": 1, "name": "John", "address": "Highway 37"},
#   { "_id": 2, "name": "Peter", "address": "Lowstreet 27"},
#   { "_id": 3, "name": "Amy", "address": "Apple st 652"},
#   { "_id": 4, "name": "Hannah", "address": "Mountain 21"},
#   { "_id": 5, "name": "Michael", "address": "Valley 345"},
#   { "_id": 6, "name": "Sandy", "address": "Ocean blvd 2"},
#   { "_id": 7, "name": "Betty", "address": "Green Grass 1"},
#   { "_id": 8, "name": "Richard", "address": "Sky st 331"},
#   { "_id": 9, "name": "Susan", "address": "One way 98"},
#   { "_id": 10, "name": "Vicky", "address": "Yellow Garden 2"},
#   { "_id": 11, "name": "Ben", "address": "Park Lane 38"},
#   { "_id": 12, "name": "William", "address": "Central st 954"},
#   { "_id": 13, "name": "Chuck", "address": "Main Road 989"},
#   { "_id": 14, "name": "Viola", "address": "Sideway 1633"}
# ]
# insert_c = mycol.insert_many(mylist)
# print(insert_c.inserted_ids)

Now try inserting a new dict with an existing `_id`:

In [20]:
#insert_c = mycol.insert_one({ "_id": 14, "name": "Manuel", "address": "Barcelona"})

So, if we want to manage `_id`s in code, we need to be careful!

This returns the first document in the collection:

In [22]:
insert_c = mycol.find_one()
print(insert_c)

{'_id': ObjectId('5d2c21e12b12724a47b6a655'), 'name': 'John', 'address': 'Highway 37'}

Do the same for the document containing "name" = "Hannah":

This returns (and prints) all documents in the collection:

In [25]:
for insert_c in mycol.find():
  print(insert_c)

{'_id': ObjectId('5d2c21e12b12724a47b6a655'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('5d2c22bb2b12724a47b6a656'), 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': ObjectId('5d2c22e02b12724a47b6a657'), 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': ObjectId('5d2c23112b12724a47b6a658'), 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': ObjectId('5d2c23432b12724a47b6a659'), 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': ObjectId('5d2c23eb2b12724a47b6a65a'), 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': ObjectId('5d2c24392b12724a47b6a65b'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('5d2c24392b12724a47b6a65c'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('5d2c24392b12724a47b6a65d'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('5d2c24392b12724a47b6a65e'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('5d2c24392b12724a47b6a65f'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('5d2c24392b12724a47b6a660'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('5d2c24392b12724a47b6a661'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('5d2c24392b12724a47b6a662'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('5d2c24392b12724a47b6a663'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('5d2c24392b12724a47b6a664'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('5d2c24392b12724a47b6a665'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('5d2c24392b12724a47b6a666'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': 1, 'name': 'John', 'address': 'Highway 37'}
{'_id': 2, 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': 3, 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': 4, 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': 5, 'name': 'Michael', 'address': 'Valley 345'}
{'_id': 6, 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': 7, 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': 8, 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': 9, 'name': 'Susan', 'address': 'One way 98'}
{'_id': 10, 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': 11, 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': 12, 'name': 'William', 'address': 'Central st 954'}
{'_id': 13, 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': 14, 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('5d2c252d3caf19c3b3b1bc6c'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('5d2c252d3caf19c3b3b1bc6d'), 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': ObjectId('5d2c252d3caf19c3b3b1bc6e'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('5d2c252d3caf19c3b3b1bc6f'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('5d2c252d3caf19c3b3b1bc70'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('5d2c252d3caf19c3b3b1bc71'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('5d2c252d3caf19c3b3b1bc72'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('5d2c252d3caf19c3b3b1bc73'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('5d2c252d3caf19c3b3b1bc74'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('5d2c252d3caf19c3b3b1bc75'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('5d2c252d3caf19c3b3b1bc76'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('5d2c252d3caf19c3b3b1bc77'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('5d2c252d3caf19c3b3b1bc78'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('5d2c252d3caf19c3b3b1bc79'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('5d2d5b1f96d8959e30e2faf7'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('5d2d5b2096d8959e30e2faf8'), 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': ObjectId('5d2d5b2096d8959e30e2faf9'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('5d2d5b2096d8959e30e2fafa'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('5d2d5b2096d8959e30e2fafb'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('5d2d5b2096d8959e30e2fafc'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('5d2d5b2096d8959e30e2fafd'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('5d2d5b2096d8959e30e2fafe'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('5d2d5b2096d8959e30e2faff'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('5d2d5b2096d8959e30e2fb00'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('5d2d5b2096d8959e30e2fb01'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('5d2d5b2096d8959e30e2fb02'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('5d2d5b2096d8959e30e2fb03'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('5d2d5b2096d8959e30e2fb04'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('5d2d5ddd96d8959e30e2fb06'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('5d2d5dea96d8959e30e2fb07'), 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': ObjectId('5d2d5df196d8959e30e2fb08'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('5d2d5df196d8959e30e2fb09'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('5d2d5df196d8959e30e2fb0a'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('5d2d5df196d8959e30e2fb0b'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('5d2d5df196d8959e30e2fb0c'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('5d2d5df196d8959e30e2fb0d'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('5d2d5df196d8959e30e2fb0e'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('5d2d5df196d8959e30e2fb0f'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('5d2d5df196d8959e30e2fb10'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('5d2d5df196d8959e30e2fb11'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('5d2d5df196d8959e30e2fb12'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('5d2d5df196d8959e30e2fb13'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('5d2d5fc741ac986ba88caa1b'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('5d2d5fc741ac986ba88caa1c'), 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': ObjectId('5d2d5fc741ac986ba88caa1d'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('5d2d5fc741ac986ba88caa1e'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('5d2d5fc741ac986ba88caa1f'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('5d2d5fc741ac986ba88caa20'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('5d2d5fc741ac986ba88caa21'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('5d2d5fc741ac986ba88caa22'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('5d2d5fc741ac986ba88caa23'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('5d2d5fc741ac986ba88caa24'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('5d2d5fc741ac986ba88caa25'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('5d2d5fc741ac986ba88caa26'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('5d2d5fc741ac986ba88caa27'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('5d2d5fc741ac986ba88caa28'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('5d2d5fcf47b88b428f1c3506'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('5d2d5fcf47b88b428f1c3507'), 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': ObjectId('5d2d5fcf47b88b428f1c3508'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('5d2d5fcf47b88b428f1c3509'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('5d2d5fcf47b88b428f1c350a'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('5d2d5fcf47b88b428f1c350b'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('5d2d5fcf47b88b428f1c350c'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('5d2d5fcf47b88b428f1c350d'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('5d2d5fcf47b88b428f1c350e'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('5d2d5fcf47b88b428f1c350f'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('5d2d5fcf47b88b428f1c3510'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('5d2d5fcf47b88b428f1c3511'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('5d2d5fcf47b88b428f1c3512'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('5d2d5fcf47b88b428f1c3513'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('5d2d5fef8fe67b849af7a3bc'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('5d2d5fef8fe67b849af7a3bd'), 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': ObjectId('5d2d5fef8fe67b849af7a3be'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('5d2d5fef8fe67b849af7a3bf'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('5d2d5fef8fe67b849af7a3c0'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('5d2d5fef8fe67b849af7a3c1'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('5d2d5fef8fe67b849af7a3c2'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('5d2d5fef8fe67b849af7a3c3'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('5d2d5fef8fe67b849af7a3c4'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('5d2d5fef8fe67b849af7a3c5'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('5d2d5fef8fe67b849af7a3c6'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('5d2d5fef8fe67b849af7a3c7'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('5d2d5fef8fe67b849af7a3c8'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('5d2d5fef8fe67b849af7a3c9'), 'name': 'Viola', 'address': 'Sideway 1633'}

This returns only the name and address fields:

In [26]:
for insert_c in mycol.find({},{ "_id": 0, "name": 1, "address": 1 }):
  print(insert_c)

{'name': 'John', 'address': 'Highway 37'}
{'name': 'Peter', 'address': 'Lowstreet 27'}
{'name': 'Peter', 'address': 'Lowstreet 27'}
{'name': 'Peter', 'address': 'Lowstreet 27'}
{'name': 'Peter', 'address': 'Lowstreet 27'}
{'name': 'Peter', 'address': 'Lowstreet 27'}
{'name': 'Amy', 'address': 'Apple st 652'}
{'name': 'Hannah', 'address': 'Mountain 21'}
{'name': 'Michael', 'address': 'Valley 345'}
{'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'name': 'Betty', 'address': 'Green Grass 1'}
{'name': 'Richard', 'address': 'Sky st 331'}
{'name': 'Susan', 'address': 'One way 98'}
{'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'name': 'Ben', 'address': 'Park Lane 38'}
{'name': 'William', 'address': 'Central st 954'}
{'name': 'Chuck', 'address': 'Main Road 989'}
{'name': 'Viola', 'address': 'Sideway 1633'}
{'name': 'John', 'address': 'Highway 37'}
{'name': 'Peter', 'address': 'Lowstreet 27'}
{'name': 'Amy', 'address': 'Apple st 652'}
{'name': 'Hannah', 'address': 'Mountain 21'}
{'name': 'Michael', 'address': 'Valley 345'}
{'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'name': 'Betty', 'address': 'Green Grass 1'}
{'name': 'Richard', 'address': 'Sky st 331'}
{'name': 'Susan', 'address': 'One way 98'}
{'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'name': 'Ben', 'address': 'Park Lane 38'}
{'name': 'William', 'address': 'Central st 954'}
{'name': 'Chuck', 'address': 'Main Road 989'}
{'name': 'Viola', 'address': 'Sideway 1633'}
{'name': 'John', 'address': 'Highway 37'}
{'name': 'Peter', 'address': 'Lowstreet 27'}
{'name': 'Amy', 'address': 'Apple st 652'}
{'name': 'Hannah', 'address': 'Mountain 21'}
{'name': 'Michael', 'address': 'Valley 345'}
{'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'name': 'Betty', 'address': 'Green Grass 1'}
{'name': 'Richard', 'address': 'Sky st 331'}
{'name': 'Susan', 'address': 'One way 98'}
{'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'name': 'Ben', 'address': 'Park Lane 38'}
{'name': 'William', 'address': 'Central st 954'}
{'name': 'Chuck', 'address': 'Main Road 989'}
{'name': 'Viola', 'address': 'Sideway 1633'}
{'name': 'John', 'address': 'Highway 37'}
{'name': 'Peter', 'address': 'Lowstreet 27'}
{'name': 'Amy', 'address': 'Apple st 652'}
{'name': 'Hannah', 'address': 'Mountain 21'}
{'name': 'Michael', 'address': 'Valley 345'}
{'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'name': 'Betty', 'address': 'Green Grass 1'}
{'name': 'Richard', 'address': 'Sky st 331'}
{'name': 'Susan', 'address': 'One way 98'}
{'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'name': 'Ben', 'address': 'Park Lane 38'}
{'name': 'William', 'address': 'Central st 954'}
{'name': 'Chuck', 'address': 'Main Road 989'}
{'name': 'Viola', 'address': 'Sideway 1633'}
{'name': 'John', 'address': 'Highway 37'}
{'name': 'Peter', 'address': 'Lowstreet 27'}
{'name': 'Amy', 'address': 'Apple st 652'}
{'name': 'Hannah', 'address': 'Mountain 21'}
{'name': 'Michael', 'address': 'Valley 345'}
{'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'name': 'Betty', 'address': 'Green Grass 1'}
{'name': 'Richard', 'address': 'Sky st 331'}
{'name': 'Susan', 'address': 'One way 98'}
{'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'name': 'Ben', 'address': 'Park Lane 38'}
{'name': 'William', 'address': 'Central st 954'}
{'name': 'Chuck', 'address': 'Main Road 989'}
{'name': 'Viola', 'address': 'Sideway 1633'}
{'name': 'John', 'address': 'Highway 37'}
{'name': 'Peter', 'address': 'Lowstreet 27'}
{'name': 'Amy', 'address': 'Apple st 652'}
{'name': 'Hannah', 'address': 'Mountain 21'}
{'name': 'Michael', 'address': 'Valley 345'}
{'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'name': 'Betty', 'address': 'Green Grass 1'}
{'name': 'Richard', 'address': 'Sky st 331'}
{'name': 'Susan', 'address': 'One way 98'}
{'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'name': 'Ben', 'address': 'Park Lane 38'}
{'name': 'William', 'address': 'Central st 954'}
{'name': 'Chuck', 'address': 'Main Road 989'}
{'name': 'Viola', 'address': 'Sideway 1633'}
{'name': 'John', 'address': 'Highway 37'}
{'name': 'Peter', 'address': 'Lowstreet 27'}
{'name': 'Amy', 'address': 'Apple st 652'}
{'name': 'Hannah', 'address': 'Mountain 21'}
{'name': 'Michael', 'address': 'Valley 345'}
{'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'name': 'Betty', 'address': 'Green Grass 1'}
{'name': 'Richard', 'address': 'Sky st 331'}
{'name': 'Susan', 'address': 'One way 98'}
{'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'name': 'Ben', 'address': 'Park Lane 38'}
{'name': 'William', 'address': 'Central st 954'}
{'name': 'Chuck', 'address': 'Main Road 989'}
{'name': 'Viola', 'address': 'Sideway 1633'}
{'name': 'John', 'address': 'Highway 37'}
{'name': 'Peter', 'address': 'Lowstreet 27'}
{'name': 'Amy', 'address': 'Apple st 652'}
{'name': 'Hannah', 'address': 'Mountain 21'}
{'name': 'Michael', 'address': 'Valley 345'}
{'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'name': 'Betty', 'address': 'Green Grass 1'}
{'name': 'Richard', 'address': 'Sky st 331'}
{'name': 'Susan', 'address': 'One way 98'}
{'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'name': 'Ben', 'address': 'Park Lane 38'}
{'name': 'William', 'address': 'Central st 954'}
{'name': 'Chuck', 'address': 'Main Road 989'}
{'name': 'Viola', 'address': 'Sideway 1633'}

Print only the `_id` and name fields:

In [29]:
# for insert_c in mycol.fin({},{})

for insert_c in mycol.find({},{ "_id": 1, "name": 1 }):
  print(insert_c)

{'_id': ObjectId('5d2c21e12b12724a47b6a655'), 'name': 'John'}
{'_id': ObjectId('5d2c22bb2b12724a47b6a656'), 'name': 'Peter'}
{'_id': ObjectId('5d2c22e02b12724a47b6a657'), 'name': 'Peter'}
{'_id': ObjectId('5d2c23112b12724a47b6a658'), 'name': 'Peter'}
{'_id': ObjectId('5d2c23432b12724a47b6a659'), 'name': 'Peter'}
{'_id': ObjectId('5d2c23eb2b12724a47b6a65a'), 'name': 'Peter'}
{'_id': ObjectId('5d2c24392b12724a47b6a65b'), 'name': 'Amy'}
{'_id': ObjectId('5d2c24392b12724a47b6a65c'), 'name': 'Hannah'}
{'_id': ObjectId('5d2c24392b12724a47b6a65d'), 'name': 'Michael'}
{'_id': ObjectId('5d2c24392b12724a47b6a65e'), 'name': 'Sandy'}
{'_id': ObjectId('5d2c24392b12724a47b6a65f'), 'name': 'Betty'}
{'_id': ObjectId('5d2c24392b12724a47b6a660'), 'name': 'Richard'}
{'_id': ObjectId('5d2c24392b12724a47b6a661'), 'name': 'Susan'}
{'_id': ObjectId('5d2c24392b12724a47b6a662'), 'name': 'Vicky'}
{'_id': ObjectId('5d2c24392b12724a47b6a663'), 'name': 'Ben'}
{'_id': ObjectId('5d2c24392b12724a47b6a664'), 'name': 'William'}
{'_id': ObjectId('5d2c24392b12724a47b6a665'), 'name': 'Chuck'}
{'_id': ObjectId('5d2c24392b12724a47b6a666'), 'name': 'Viola'}
{'_id': 1, 'name': 'John'}
{'_id': 2, 'name': 'Peter'}
{'_id': 3, 'name': 'Amy'}
{'_id': 4, 'name': 'Hannah'}
{'_id': 5, 'name': 'Michael'}
{'_id': 6, 'name': 'Sandy'}
{'_id': 7, 'name': 'Betty'}
{'_id': 8, 'name': 'Richard'}
{'_id': 9, 'name': 'Susan'}
{'_id': 10, 'name': 'Vicky'}
{'_id': 11, 'name': 'Ben'}
{'_id': 12, 'name': 'William'}
{'_id': 13, 'name': 'Chuck'}
{'_id': 14, 'name': 'Viola'}
{'_id': ObjectId('5d2c252d3caf19c3b3b1bc6c'), 'name': 'John'}
{'_id': ObjectId('5d2c252d3caf19c3b3b1bc6d'), 'name': 'Peter'}
{'_id': ObjectId('5d2c252d3caf19c3b3b1bc6e'), 'name': 'Amy'}
{'_id': ObjectId('5d2c252d3caf19c3b3b1bc6f'), 'name': 'Hannah'}
{'_id': ObjectId('5d2c252d3caf19c3b3b1bc70'), 'name': 'Michael'}
{'_id': ObjectId('5d2c252d3caf19c3b3b1bc71'), 'name': 'Sandy'}
{'_id': ObjectId('5d2c252d3caf19c3b3b1bc72'), 'name': 'Betty'}
{'_id': ObjectId('5d2c252d3caf19c3b3b1bc73'), 'name': 'Richard'}
{'_id': ObjectId('5d2c252d3caf19c3b3b1bc74'), 'name': 'Susan'}
{'_id': ObjectId('5d2c252d3caf19c3b3b1bc75'), 'name': 'Vicky'}
{'_id': ObjectId('5d2c252d3caf19c3b3b1bc76'), 'name': 'Ben'}
{'_id': ObjectId('5d2c252d3caf19c3b3b1bc77'), 'name': 'William'}
{'_id': ObjectId('5d2c252d3caf19c3b3b1bc78'), 'name': 'Chuck'}
{'_id': ObjectId('5d2c252d3caf19c3b3b1bc79'), 'name': 'Viola'}
{'_id': ObjectId('5d2d5b1f96d8959e30e2faf7'), 'name': 'John'}
{'_id': ObjectId('5d2d5b2096d8959e30e2faf8'), 'name': 'Peter'}
{'_id': ObjectId('5d2d5b2096d8959e30e2faf9'), 'name': 'Amy'}
{'_id': ObjectId('5d2d5b2096d8959e30e2fafa'), 'name': 'Hannah'}
{'_id': ObjectId('5d2d5b2096d8959e30e2fafb'), 'name': 'Michael'}
{'_id': ObjectId('5d2d5b2096d8959e30e2fafc'), 'name': 'Sandy'}
{'_id': ObjectId('5d2d5b2096d8959e30e2fafd'), 'name': 'Betty'}
{'_id': ObjectId('5d2d5b2096d8959e30e2fafe'), 'name': 'Richard'}
{'_id': ObjectId('5d2d5b2096d8959e30e2faff'), 'name': 'Susan'}
{'_id': ObjectId('5d2d5b2096d8959e30e2fb00'), 'name': 'Vicky'}
{'_id': ObjectId('5d2d5b2096d8959e30e2fb01'), 'name': 'Ben'}
{'_id': ObjectId('5d2d5b2096d8959e30e2fb02'), 'name': 'William'}
{'_id': ObjectId('5d2d5b2096d8959e30e2fb03'), 'name': 'Chuck'}
{'_id': ObjectId('5d2d5b2096d8959e30e2fb04'), 'name': 'Viola'}
{'_id': ObjectId('5d2d5ddd96d8959e30e2fb06'), 'name': 'John'}
{'_id': ObjectId('5d2d5dea96d8959e30e2fb07'), 'name': 'Peter'}
{'_id': ObjectId('5d2d5df196d8959e30e2fb08'), 'name': 'Amy'}
{'_id': ObjectId('5d2d5df196d8959e30e2fb09'), 'name': 'Hannah'}
{'_id': ObjectId('5d2d5df196d8959e30e2fb0a'), 'name': 'Michael'}
{'_id': ObjectId('5d2d5df196d8959e30e2fb0b'), 'name': 'Sandy'}
{'_id': ObjectId('5d2d5df196d8959e30e2fb0c'), 'name': 'Betty'}
{'_id': ObjectId('5d2d5df196d8959e30e2fb0d'), 'name': 'Richard'}
{'_id': ObjectId('5d2d5df196d8959e30e2fb0e'), 'name': 'Susan'}
{'_id': ObjectId('5d2d5df196d8959e30e2fb0f'), 'name': 'Vicky'}
{'_id': ObjectId('5d2d5df196d8959e30e2fb10'), 'name': 'Ben'}
{'_id': ObjectId('5d2d5df196d8959e30e2fb11'), 'name': 'William'}
{'_id': ObjectId('5d2d5df196d8959e30e2fb12'), 'name': 'Chuck'}
{'_id': ObjectId('5d2d5df196d8959e30e2fb13'), 'name': 'Viola'}
{'_id': ObjectId('5d2d5fc741ac986ba88caa1b'), 'name': 'John'}
{'_id': ObjectId('5d2d5fc741ac986ba88caa1c'), 'name': 'Peter'}
{'_id': ObjectId('5d2d5fc741ac986ba88caa1d'), 'name': 'Amy'}
{'_id': ObjectId('5d2d5fc741ac986ba88caa1e'), 'name': 'Hannah'}
{'_id': ObjectId('5d2d5fc741ac986ba88caa1f'), 'name': 'Michael'}
{'_id': ObjectId('5d2d5fc741ac986ba88caa20'), 'name': 'Sandy'}
{'_id': ObjectId('5d2d5fc741ac986ba88caa21'), 'name': 'Betty'}
{'_id': ObjectId('5d2d5fc741ac986ba88caa22'), 'name': 'Richard'}
{'_id': ObjectId('5d2d5fc741ac986ba88caa23'), 'name': 'Susan'}
{'_id': ObjectId('5d2d5fc741ac986ba88caa24'), 'name': 'Vicky'}
{'_id': ObjectId('5d2d5fc741ac986ba88caa25'), 'name': 'Ben'}
{'_id': ObjectId('5d2d5fc741ac986ba88caa26'), 'name': 'William'}
{'_id': ObjectId('5d2d5fc741ac986ba88caa27'), 'name': 'Chuck'}
{'_id': ObjectId('5d2d5fc741ac986ba88caa28'), 'name': 'Viola'}
{'_id': ObjectId('5d2d5fcf47b88b428f1c3506'), 'name': 'John'}
{'_id': ObjectId('5d2d5fcf47b88b428f1c3507'), 'name': 'Peter'}
{'_id': ObjectId('5d2d5fcf47b88b428f1c3508'), 'name': 'Amy'}
{'_id': ObjectId('5d2d5fcf47b88b428f1c3509'), 'name': 'Hannah'}
{'_id': ObjectId('5d2d5fcf47b88b428f1c350a'), 'name': 'Michael'}
{'_id': ObjectId('5d2d5fcf47b88b428f1c350b'), 'name': 'Sandy'}
{'_id': ObjectId('5d2d5fcf47b88b428f1c350c'), 'name': 'Betty'}
{'_id': ObjectId('5d2d5fcf47b88b428f1c350d'), 'name': 'Richard'}
{'_id': ObjectId('5d2d5fcf47b88b428f1c350e'), 'name': 'Susan'}
{'_id': ObjectId('5d2d5fcf47b88b428f1c350f'), 'name': 'Vicky'}
{'_id': ObjectId('5d2d5fcf47b88b428f1c3510'), 'name': 'Ben'}
{'_id': ObjectId('5d2d5fcf47b88b428f1c3511'), 'name': 'William'}
{'_id': ObjectId('5d2d5fcf47b88b428f1c3512'), 'name': 'Chuck'}
{'_id': ObjectId('5d2d5fcf47b88b428f1c3513'), 'name': 'Viola'}
{'_id': ObjectId('5d2d5fef8fe67b849af7a3bc'), 'name': 'John'}
{'_id': ObjectId('5d2d5fef8fe67b849af7a3bd'), 'name': 'Peter'}
{'_id': ObjectId('5d2d5fef8fe67b849af7a3be'), 'name': 'Amy'}
{'_id': ObjectId('5d2d5fef8fe67b849af7a3bf'), 'name': 'Hannah'}
{'_id': ObjectId('5d2d5fef8fe67b849af7a3c0'), 'name': 'Michael'}
{'_id': ObjectId('5d2d5fef8fe67b849af7a3c1'), 'name': 'Sandy'}
{'_id': ObjectId('5d2d5fef8fe67b849af7a3c2'), 'name': 'Betty'}
{'_id': ObjectId('5d2d5fef8fe67b849af7a3c3'), 'name': 'Richard'}
{'_id': ObjectId('5d2d5fef8fe67b849af7a3c4'), 'name': 'Susan'}
{'_id': ObjectId('5d2d5fef8fe67b849af7a3c5'), 'name': 'Vicky'}
{'_id': ObjectId('5d2d5fef8fe67b849af7a3c6'), 'name': 'Ben'}
{'_id': ObjectId('5d2d5fef8fe67b849af7a3c7'), 'name': 'William'}
{'_id': ObjectId('5d2d5fef8fe67b849af7a3c8'), 'name': 'Chuck'}
{'_id': ObjectId('5d2d5fef8fe67b849af7a3c9'), 'name': 'Viola'}

So, we must explicitly use `"_id": 0` to exclude it, but for other fields we simply omit them from the dict argument.

To include field conditionals in a query, we use `$` operators. This finds addresses starting with "S" or greater:

In [30]:
# To include field conditionals in a query, we use $ operators. This finds addresses starting with "S" or greater:
myquery = { "address": { "$gt": "S" } }
mydoc = mycol.find(myquery)
for insert_c in mydoc:
  print(insert_c)

{'_id': ObjectId('5d2c24392b12724a47b6a65d'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('5d2c24392b12724a47b6a660'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('5d2c24392b12724a47b6a662'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('5d2c24392b12724a47b6a666'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': 5, 'name': 'Michael', 'address': 'Valley 345'}
{'_id': 8, 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': 10, 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': 14, 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('5d2c252d3caf19c3b3b1bc70'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('5d2c252d3caf19c3b3b1bc73'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('5d2c252d3caf19c3b3b1bc75'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('5d2c252d3caf19c3b3b1bc79'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('5d2d5b2096d8959e30e2fafb'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('5d2d5b2096d8959e30e2fafe'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('5d2d5b2096d8959e30e2fb00'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('5d2d5b2096d8959e30e2fb04'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('5d2d5df196d8959e30e2fb0a'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('5d2d5df196d8959e30e2fb0d'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('5d2d5df196d8959e30e2fb0f'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('5d2d5df196d8959e30e2fb13'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('5d2d5fc741ac986ba88caa1f'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('5d2d5fc741ac986ba88caa22'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('5d2d5fc741ac986ba88caa24'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('5d2d5fc741ac986ba88caa28'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('5d2d5fcf47b88b428f1c350a'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('5d2d5fcf47b88b428f1c350d'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('5d2d5fcf47b88b428f1c350f'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('5d2d5fcf47b88b428f1c3513'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('5d2d5fef8fe67b849af7a3c0'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('5d2d5fef8fe67b849af7a3c3'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('5d2d5fef8fe67b849af7a3c5'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('5d2d5fef8fe67b849af7a3c9'), 'name': 'Viola', 'address': 'Sideway 1633'}

Here are some more comparison operators:

            $gt, $gte, $eq, $in, $nin, $exists, $and, $or, $not
            
Experiment with these until you understand how to use them.

In [55]:
myquery = { "address": { "$regex": "^S" } }
mydoc = mycol.find(myquery)
for insert_c in mydoc:
  print(insert_c)

{'_id': ObjectId('5d2c24392b12724a47b6a660'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('5d2c24392b12724a47b6a666'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': 8, 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': 14, 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('5d2c252d3caf19c3b3b1bc73'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('5d2c252d3caf19c3b3b1bc79'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('5d2d5b2096d8959e30e2fafe'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('5d2d5b2096d8959e30e2fb04'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('5d2d5df196d8959e30e2fb0d'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('5d2d5df196d8959e30e2fb13'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('5d2d5fc741ac986ba88caa22'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('5d2d5fc741ac986ba88caa28'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('5d2d5fcf47b88b428f1c350d'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('5d2d5fcf47b88b428f1c3513'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('5d2d5fef8fe67b849af7a3c3'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('5d2d5fef8fe67b849af7a3c9'), 'name': 'Viola', 'address': 'Sideway 1633'}

Now find all docs with an address that begins with "S":  
(HINT: The value for "address" in the argument should be the regex-based dict { "$regex": "^S" }.)

In [56]:
myquery = { "address": { "$regex": "^S" } }
mydoc = mycol.find(myquery)
for insert_c in mydoc:
  print(insert_c)

{'_id': ObjectId('5d2c24392b12724a47b6a660'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('5d2c24392b12724a47b6a666'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': 8, 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': 14, 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('5d2c252d3caf19c3b3b1bc73'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('5d2c252d3caf19c3b3b1bc79'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('5d2d5b2096d8959e30e2fafe'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('5d2d5b2096d8959e30e2fb04'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('5d2d5df196d8959e30e2fb0d'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('5d2d5df196d8959e30e2fb13'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('5d2d5fc741ac986ba88caa22'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('5d2d5fc741ac986ba88caa28'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('5d2d5fcf47b88b428f1c350d'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('5d2d5fcf47b88b428f1c3513'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('5d2d5fef8fe67b849af7a3c3'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('5d2d5fef8fe67b849af7a3c9'), 'name': 'Viola', 'address': 'Sideway 1633'}

Sorting can be applied by invoking the Sort() method after the Find() method. Sort the collection by the name field:

In [58]:
mydoc = mycol.find().sort('name') #revise all this
for insert_c in mydoc:
  print(insert_c)

{'_id': ObjectId('5d2c24392b12724a47b6a65b'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': 3, 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('5d2c252d3caf19c3b3b1bc6e'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('5d2d5b2096d8959e30e2faf9'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('5d2d5df196d8959e30e2fb08'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('5d2d5fc741ac986ba88caa1d'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('5d2d5fcf47b88b428f1c3508'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('5d2d5fef8fe67b849af7a3be'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('5d2c24392b12724a47b6a663'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': 11, 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('5d2c252d3caf19c3b3b1bc76'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('5d2d5b2096d8959e30e2fb01'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('5d2d5df196d8959e30e2fb10'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('5d2d5fc741ac986ba88caa25'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('5d2d5fcf47b88b428f1c3510'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('5d2d5fef8fe67b849af7a3c6'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('5d2c24392b12724a47b6a65f'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': 7, 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('5d2c252d3caf19c3b3b1bc72'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('5d2d5b2096d8959e30e2fafd'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('5d2d5df196d8959e30e2fb0c'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('5d2d5fc741ac986ba88caa21'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('5d2d5fcf47b88b428f1c350c'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('5d2d5fef8fe67b849af7a3c2'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('5d2c24392b12724a47b6a665'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': 13, 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('5d2c252d3caf19c3b3b1bc78'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('5d2d5b2096d8959e30e2fb03'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('5d2d5df196d8959e30e2fb12'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('5d2d5fc741ac986ba88caa27'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('5d2d5fcf47b88b428f1c3512'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('5d2d5fef8fe67b849af7a3c8'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('5d2c24392b12724a47b6a65c'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': 4, 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('5d2c252d3caf19c3b3b1bc6f'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('5d2d5b2096d8959e30e2fafa'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('5d2d5df196d8959e30e2fb09'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('5d2d5fc741ac986ba88caa1e'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('5d2d5fcf47b88b428f1c3509'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('5d2d5fef8fe67b849af7a3bf'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('5d2c21e12b12724a47b6a655'), 'name': 'John', 'address': 'Highway 37'}
{'_id': 1, 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('5d2c252d3caf19c3b3b1bc6c'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('5d2d5b1f96d8959e30e2faf7'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('5d2d5ddd96d8959e30e2fb06'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('5d2d5fc741ac986ba88caa1b'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('5d2d5fcf47b88b428f1c3506'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('5d2d5fef8fe67b849af7a3bc'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('5d2c24392b12724a47b6a65d'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': 5, 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('5d2c252d3caf19c3b3b1bc70'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('5d2d5b2096d8959e30e2fafb'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('5d2d5df196d8959e30e2fb0a'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('5d2d5fc741ac986ba88caa1f'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('5d2d5fcf47b88b428f1c350a'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('5d2d5fef8fe67b849af7a3c0'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('5d2c22bb2b12724a47b6a656'), 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': ObjectId('5d2c22e02b12724a47b6a657'), 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': ObjectId('5d2c23112b12724a47b6a658'), 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': ObjectId('5d2c23432b12724a47b6a659'), 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': ObjectId('5d2c23eb2b12724a47b6a65a'), 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': 2, 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': ObjectId('5d2c252d3caf19c3b3b1bc6d'), 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': ObjectId('5d2d5b2096d8959e30e2faf8'), 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': ObjectId('5d2d5dea96d8959e30e2fb07'), 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': ObjectId('5d2d5fc741ac986ba88caa1c'), 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': ObjectId('5d2d5fcf47b88b428f1c3507'), 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': ObjectId('5d2d5fef8fe67b849af7a3bd'), 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': ObjectId('5d2c24392b12724a47b6a660'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': 8, 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('5d2c252d3caf19c3b3b1bc73'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('5d2d5b2096d8959e30e2fafe'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('5d2d5df196d8959e30e2fb0d'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('5d2d5fc741ac986ba88caa22'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('5d2d5fcf47b88b428f1c350d'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('5d2d5fef8fe67b849af7a3c3'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('5d2c24392b12724a47b6a65e'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': 6, 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('5d2c252d3caf19c3b3b1bc71'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('5d2d5b2096d8959e30e2fafc'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('5d2d5df196d8959e30e2fb0b'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('5d2d5fc741ac986ba88caa20'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('5d2d5fcf47b88b428f1c350b'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('5d2d5fef8fe67b849af7a3c1'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('5d2c24392b12724a47b6a661'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': 9, 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('5d2c252d3caf19c3b3b1bc74'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('5d2d5b2096d8959e30e2faff'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('5d2d5df196d8959e30e2fb0e'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('5d2d5fc741ac986ba88caa23'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('5d2d5fcf47b88b428f1c350e'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('5d2d5fef8fe67b849af7a3c4'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('5d2c24392b12724a47b6a662'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': 10, 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('5d2c252d3caf19c3b3b1bc75'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('5d2d5b2096d8959e30e2fb00'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('5d2d5df196d8959e30e2fb0f'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('5d2d5fc741ac986ba88caa24'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('5d2d5fcf47b88b428f1c350f'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('5d2d5fef8fe67b849af7a3c5'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('5d2c24392b12724a47b6a666'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': 14, 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('5d2c252d3caf19c3b3b1bc79'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('5d2d5b2096d8959e30e2fb04'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('5d2d5df196d8959e30e2fb13'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('5d2d5fc741ac986ba88caa28'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('5d2d5fcf47b88b428f1c3513'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('5d2d5fef8fe67b849af7a3c9'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('5d2c24392b12724a47b6a664'), 'name': 'William', 'address': 'Central st 954'}
{'_id': 12, 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('5d2c252d3caf19c3b3b1bc77'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('5d2d5b2096d8959e30e2fb02'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('5d2d5df196d8959e30e2fb11'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('5d2d5fc741ac986ba88caa26'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('5d2d5fcf47b88b428f1c3511'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('5d2d5fef8fe67b849af7a3c7'), 'name': 'William', 'address': 'Central st 954'}

Now sort in reverse order (HINT: The Sort() method takes an optional second parameter.)

A single record can be deleted by specifying some criterion:

In [59]:
mycol.delete_one({ "address": "Mountain 21" })

Now delete all docs with the 2-digit `Id` values:

In [60]:
mycol.delete_many({"_id": len('_id') == 2})

This would delete all docs:
`x = mycol.delete_many({})`

This would remove the collection:
`mycol.drop()`

Change the first instance of "address" == "Valley 345" to "Canyon 123" using update_one().  
(HINT: The 1st paramater of update_one() is the criterion (query); the 2nd is dict specifying the field to change and its new value.)

The limit() method can be applied after the find() method to limit the number of docs returned. Show the first 5 docs:

## PyMongo for Data Science

MongoDB has many more features of interest to developers, but the main focus of a data scientist will be wrangling and munging the data. It may or may not be desirable to do all the data munging in Pandas; for a large, distributed database, it may be imperative to perform aggregation in MongoDB.

In [31]:
# Ref:  https://rsandstroem.github.io/MongoDBDemo.html

import os
import pandas as pd
import numpy as np

This code creates a database named "test" and populates it from a JSON file using the mongoimport program (executed in the operating systems itself, rather than in Python):

In [32]:
db = client.test
# Drop the collection in case it was previously created:
# collection = db.people
# collection.drop()

In [33]:
os.chdir("dat")

FileNotFoundError: [Errno 2] No such file or directory: 'dat'

In [ ]:
pwd()

In [ ]:
# if this does not return 0, execute mongoimport from a commmand window instead:
os.system('mongoimport -d test -c people dummyData.json')

In [ ]:
os.chdir("..")

In [ ]:
pwd()

In [ ]:
db = client.test
collection = db.people
cursor = collection.find().sort('Age',pymongo.ASCENDING).limit(3)
for doc in cursor:
    print (doc)

Here is a small demonstration of the MongoDB aggregation framework. We want to create a table of the number of persons in each country and their average age. To do it we group by country. We extract the results from MongoDB aggregation into a pandas dataframe, and use the country as index.

In [ ]:
pipeline = [
        {"$group": {"_id":"$Country",
             "AvgAge":{"$avg":"$Age"},
             "Count":{"$sum":1},
        }},
        {"$sort":{"Count":-1,"AvgAge":1}}
]
aggResult = collection.aggregate(pipeline) # returns a cursor

df1 = pd.DataFrame(list(aggResult)) # use list to turn the cursor to an array of documents
df1 = df1.set_index("_id")
df1.head()

For simple cases one can either use a cursor through find("search term") or use the "$match" operator in the aggregation framework, like this:

In [ ]:
pipeline = [
        {"$match": {"Country":"China"}},
]
aggResult = collection.aggregate(pipeline)
df2 = pd.DataFrame(list(aggResult))
df2.head()

Now we can apply all the power of Python libraries to analyse and visualise the data. Here, we will use the folium package to plot markers for the locations of the people we just found in China (click on a marker to see their data):

In [ ]:
# Un-comment and execute to install folium pkg (1st time only):
# import sys
# !{sys.executable} -m pip install folium

In [ ]:
import folium
print ('Folium version ' + folium.__version__)

world_map = folium.Map(location = [35, 100], zoom_start = 4)
for i in range(len(df2)):
    location = [float(loc) for loc in df2.Location[i].split(',')]
    folium.Marker(location = location, popup = df2.Name[i] + ', age:' + str(df2.Age[i])).add_to(world_map)
    
world_map

## HOMEWORK:

1. Read up on how to perform aggregation in mongoDB. Insert a duplicate record into the collection:
        mydict = { "name": "John", "address": "Highway 37" }
   Now write a command to find docs with a duplicate "name" field (using aggregation) and remove them.  
   Print the collection.

2. Read up on how to apply indexes in mongoDB. Create an index on the "name" and "address" fields in this collection.
   Print the indexes for the collection.



> 
>
>

** 2019 Data Science Institute of Australia**