![alt text](https://i.imgur.com/1WaY7aA.png)

## Lab 4.2.1: Feature Selection

### 1. Load & Explore Data

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

#### 1.1 Load Data

In [4]:
%pwd

'C:\\Prav\\UTS\\DSIA-SYD-FT-Projects-201907\\Praveen\\Module 4\\Lab 4'

In [5]:
# Read CSV
wine_csv = '../winequality_merged.csv'

In [8]:
# Read CSV
wine = pd.read_csv('../Data 4/winequality_merged.csv')

#### 1.2 Explore Data (Exploratory Data Analysis)

In [10]:
# Shape
wine.shape
wine.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,red_wine
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,1
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5,1
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5,1
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6,1
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,1

### 2. Set Target Variable

Create a target variable for wine quality.

In [11]:
y = wine['quality']

### 3. Set Predictor Variables

Create a predictor matrix with variables of your choice. State your reason.

In [12]:
# Check correlation
wine.corr()['quality'].sort_values()

density                -0.305858
volatile acidity       -0.265699
chlorides              -0.200666
red_wine               -0.119323
fixed acidity          -0.076743
total sulfur dioxide   -0.041385
residual sugar         -0.036980
pH                      0.019506
sulphates               0.038485
free sulfur dioxide     0.055463
citric acid             0.085532
alcohol                 0.444319
quality                 1.000000
Name: quality, dtype: float64

In [13]:
# I chose the feature which are strogly correalted with quality
predictor_columns = ['density', 'volatile acidity', 'chlorides', 'alcohol']

In [14]:
X = wine[predictor_columns]
X.head()

   density  volatile acidity  chlorides  alcohol
0   0.9978              0.70      0.076      9.4
1   0.9968              0.88      0.098      9.8
2   0.9970              0.76      0.092      9.8
3   0.9980              0.28      0.075      9.8
4   0.9978              0.70      0.076      9.4

### 4. Using Linear Regression Create a Model and Test Score

In [19]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

In [20]:
# Train-Test Split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20, random_state=42)

In [21]:
lr = LinearRegression()
lr.fit(X_train, y_train)
lr.score(X_train, y_train)

0.2707886547599644

In [18]:
lr.score(X_test, y_test)

0.2521354751304966

### 5. Feature Selection

What's your score (R^2 for Regression) for Testing Data? 

How many feature have you selected? Can you improve your score by selecting different features?

**Please continue with Lab 4.2.2 with the same dataset.**