![alt text](https://i.imgur.com/1WaY7aA.png)

# Lab 2.1.4 
# *Python with MongoDB*

## Introduction to PyMongo

In [2]:
from IPython.core.display import display, HTML
import pymongo
from pymongo import MongoClient
print ('Mongo version ' + pymongo.__version__)

Mongo version 3.8.0

Start the mongod server (if it isn't lready running) by executing  
`mongod`  
at the command prompt.

In [3]:
client = MongoClient('localhost', 27017)

In [4]:
# import pymongo 
connection = pymongo.MongoClient("mongodb://localhost")

In [5]:
# Mongodb test on Mac run with Earnst
db = connection.school

In [6]:
students = db.students
cursor = students.find()

In [7]:
for doc in cursor:
    scores = doc["scores"] 
    , minhs = 101
    for entry in scores:
        if entry["type"] == "homework": 
            if entry["score"] < minhs: 
                minhs = entry["score"]

In [8]:
print(client.list_database_names())

['admin', 'config', 'local']

In [9]:
# Check the type and exist of MongoClient db
print(type(client))
print(client)

<class 'pymongo.mongo_client.MongoClient'>
MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True)

In [11]:
# Given db info as below 'test'-environment
db = client.test

# Check the type and location of Mangodb-clientbase
print(type(client.test))
print(db)

# Define a table of 'people' database
collection = db.people
print(type(collection))
print(collection)

<class 'pymongo.database.Database'>
Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'test')
<class 'pymongo.collection.Collection'>
Collection(Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'test'), 'people')

In [12]:
# Q: Drop all the clients in the database is completed
# Run drop-table-of-'people'
collection.drop()

In [13]:
# Check location after dropped the table-data of 'people'
print(collection)

Collection(Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'test'), 'people')

In [14]:
# Output of dropped client "test" from above MongoClient environment
client.test.drop

Collection(Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'test'), 'drop')

In [15]:
# Check location after dropped client-"test"
print(client)

MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True)

In [16]:
# Further drop db "MyDatabase" before below Lab-query: Creating-a-new-database
client.mydatabase.drop

Collection(Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'mydatabase'), 'drop')

In [17]:
# Check the location after dropped "mydatabase"
print(client.mydatabase)

Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'mydatabase')

Create a new database:

In [23]:
mydb_2 = client["mydatabase_2"]
print(mydb_2)
print(client.list_mydatabase_2)

Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'mydatabase_2')
Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'list_mydatabase_2')

In [24]:
print(client.list_database_names())
my_1 = mydb_2['customer']

['admin', 'config', 'local']

In [26]:
my_dict_1 = {"name": "John", "address":"Highway 37"}
x = my_1.insert_one(my_dict_1)

print(client.list_database_names())

['admin', 'config', 'local', 'mydatabase_2']

In [35]:
# Test Mongodb connection created two new mydatabase
mydb = client["mydatabase"]

In [36]:
# Check "mydatabase"
print(mydb)

Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'mydatabase')

In [37]:
# Given Command for the location of "mydatabase" 
print(client.list_mydatabase)

Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'list_mydatabase')

In [66]:
# Create list to the new created "mydatabase"
mydb_1 = client["mydatabase"]
mycol_1 = mydb_1['customers']
print(client.list_database_names())

['admin', 'config', 'local', 'mydatabase', 'mydatabase_2']

Confirm that the database exists ... 

- list all databases in your system:

In [67]:
print(client.list_database_names())

['admin', 'config', 'local', 'mydatabase', 'mydatabase_2']

- check for the database by name:

In [68]:
# Q: collection.name()

# A: Command needed as bellows:
check_list = client.list_database_names()

if mydb_1 in check_list:
    print('Exist')
else:
    print('NOT Found')

NOT Found

The new database was not found because mongodb is lazy: the db won't get created until data has been written to it!

Create a collection called "customers" (with object name `mycol`):

In [69]:
mycol = mydb_1['customers']

Create a document (i.e. a dictionary) with two name:value items 
("name" = "John", and "address" = "Highway 37") and insert 
it into the "customers" collection:

In [70]:
# Insert First Record (value items) to 'collection' ("Customers" in new Table replace the "db.people" dropped?)
my_dict = {"name": "John", "address": "Highway 37"}
x = mycol.insert_one(my_dict)

Now test for the existence of the database:

In [71]:
print(client.list_database_names())

['admin', 'config', 'local', 'mydatabase', 'mydatabase_2']

List all collections in the database:

In [74]:
print(mydb_1.list_collection_names())

['customers1', 'customers']

Insert another record in the "customers" collection 
("name" = "Peter", "address" = "Lowstreet 27") 
and return the value of the _id field:

In [77]:
# Insert the second "customers" value into the same "customers-collection
my_dict_1 = {"name": "Peter", "address": "Lowstreet 27"}
x_1 = mycol.insert_one(my_dict_1)

Given the list of dicts below, insert multiple documents into 
the collection using the insert_many() method:

In [78]:
mylist = [
  { "name": "Amy", "address": "Apple st 652"},
  { "name": "Hannah", "address": "Mountain 21"},
  { "name": "Michael", "address": "Valley 345"},
  { "name": "Sandy", "address": "Ocean blvd 2"},
  { "name": "Betty", "address": "Green Grass 1"},
  { "name": "Richard", "address": "Sky st 331"},
  { "name": "Susan", "address": "One way 98"},
  { "name": "Vicky", "address": "Yellow Garden 2"},
  { "name": "Ben", "address": "Park Lane 38"},
  { "name": "William", "address": "Central st 954"},
  { "name": "Chuck", "address": "Main Road 989"},
  { "name": "Viola", "address": "Sideway 1633"}
]

In [80]:
# Insert above given data to "collection.mylist"
x_2 = mycol.insert_many(mylist)

Print a list of the _id values of the inserted documents:

In [86]:
print(x_2.inserted_ids)

[ObjectId('5d2d718682bb850a25437344'), ObjectId('5d2d718682bb850a25437345'), ObjectId('5d2d718682bb850a25437346'), ObjectId('5d2d718682bb850a25437347'), ObjectId('5d2d718682bb850a25437348'), ObjectId('5d2d718682bb850a25437349'), ObjectId('5d2d718682bb850a2543734a'), ObjectId('5d2d718682bb850a2543734b'), ObjectId('5d2d718682bb850a2543734c'), ObjectId('5d2d718682bb850a2543734d'), ObjectId('5d2d718682bb850a2543734e'), ObjectId('5d2d718682bb850a2543734f')]

Execute the next cell to insert a list of dicts with specified `_id`s:

In [96]:
# Q to Earnst: Command-to-add-'_id' to existing mylist under my_dict as below won't duplicate the data?

mylist = [
  { "_id": 1, "name": "John", "address": "Highway 37"},
  { "_id": 2, "name": "Peter", "address": "Lowstreet 27"},
  { "_id": 3, "name": "Amy", "address": "Apple st 652"},
  { "_id": 4, "name": "Hannah", "address": "Mountain 21"},
  { "_id": 5, "name": "Michael", "address": "Valley 345"},
  { "_id": 6, "name": "Sandy", "address": "Ocean blvd 2"},
  { "_id": 7, "name": "Betty", "address": "Green Grass 1"},
  { "_id": 8, "name": "Richard", "address": "Sky st 331"},
  { "_id": 9, "name": "Susan", "address": "One way 98"},
  { "_id": 10, "name": "Vicky", "address": "Yellow Garden 2"},
  { "_id": 11, "name": "Ben", "address": "Park Lane 38"},
  { "_id": 12, "name": "William", "address": "Central st 954"},
  { "_id": 13, "name": "Chuck", "address": "Main Road 989"},
  { "_id": 14, "name": "Viola", "address": "Sideway 1633"}
]

x_2 = mycol.insert_many(mylist)
print(x_2.inserted_ids)

BulkWriteError: batch op errors occurred

Now try inserting a new dict with an existing `_id`:

In [97]:
# Test: inserting a new dict with existing _id and expect a duplication error
x_3 = mycol.insert_one({ "_id": 14, "name": "Manuel", "address": "Barcelona"})

DuplicateKeyError: E11000 duplicate key error collection: mydatabase.customers index: _id_ dup key: { : 14 }

So, if we want to manage `_id`s in code, we need to be careful!

This returns the first document in the collection:

In [98]:
x = mycol.find_one()
print(x)

{'_id': ObjectId('5d2d62fb82bb850a2543733d'), 'name': 'John', 'address': 'Highway 37'}

Do the same for the document containing "name" = "Hannah":

In [115]:
x = mycol.find_one({"name" : "Hannah"})
print(x)

{'_id': ObjectId('5d2d718682bb850a25437345'), 'name': 'Hannah', 'address': 'Mountain 21'}

This returns (and prints) all documents in the collection:

In [116]:
for x in mycol.find():
  print(x)
# I got 4xJohn in "mydatabase" due to testing command 4xtimes

{'_id': ObjectId('5d2d62fb82bb850a2543733d'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('5d2d630d82bb850a2543733e'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('5d2d631682bb850a2543733f'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('5d2d631b82bb850a25437340'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('5d2d701e82bb850a25437342'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('5d2d717882bb850a25437343'), 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': ObjectId('5d2d718682bb850a25437344'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('5d2d718682bb850a25437345'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('5d2d718682bb850a25437346'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('5d2d718682bb850a25437347'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('5d2d718682bb850a25437348'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('5d2d718682bb850a25437349'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('5d2d718682bb850a2543734a'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('5d2d718682bb850a2543734b'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('5d2d718682bb850a2543734c'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('5d2d718682bb850a2543734d'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('5d2d718682bb850a2543734e'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('5d2d718682bb850a2543734f'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': 1, 'name': 'John', 'address': 'Highway 37'}
{'_id': 2, 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': 3, 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': 4, 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': 5, 'name': 'Michael', 'address': 'Valley 345'}
{'_id': 6, 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': 7, 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': 8, 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': 9, 'name': 'Susan', 'address': 'One way 98'}
{'_id': 10, 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': 11, 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': 12, 'name': 'William', 'address': 'Central st 954'}
{'_id': 13, 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': 14, 'name': 'Viola', 'address': 'Sideway 1633'}

This returns only the name and address fields:

In [119]:
for x in mycol.find({},{ "_id": 0, "name": 1, "address": 1 }):
  print(x)

{'name': 'John', 'address': 'Highway 37'}
{'name': 'John', 'address': 'Highway 37'}
{'name': 'John', 'address': 'Highway 37'}
{'name': 'John', 'address': 'Highway 37'}
{'name': 'John', 'address': 'Highway 37'}
{'name': 'Peter', 'address': 'Lowstreet 27'}
{'name': 'Amy', 'address': 'Apple st 652'}
{'name': 'Hannah', 'address': 'Mountain 21'}
{'name': 'Michael', 'address': 'Valley 345'}
{'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'name': 'Betty', 'address': 'Green Grass 1'}
{'name': 'Richard', 'address': 'Sky st 331'}
{'name': 'Susan', 'address': 'One way 98'}
{'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'name': 'Ben', 'address': 'Park Lane 38'}
{'name': 'William', 'address': 'Central st 954'}
{'name': 'Chuck', 'address': 'Main Road 989'}
{'name': 'Viola', 'address': 'Sideway 1633'}
{'name': 'John', 'address': 'Highway 37'}
{'name': 'Peter', 'address': 'Lowstreet 27'}
{'name': 'Amy', 'address': 'Apple st 652'}
{'name': 'Hannah', 'address': 'Mountain 21'}
{'name': 'Michael', 'address': 'Valley 345'}
{'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'name': 'Betty', 'address': 'Green Grass 1'}
{'name': 'Richard', 'address': 'Sky st 331'}
{'name': 'Susan', 'address': 'One way 98'}
{'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'name': 'Ben', 'address': 'Park Lane 38'}
{'name': 'William', 'address': 'Central st 954'}
{'name': 'Chuck', 'address': 'Main Road 989'}
{'name': 'Viola', 'address': 'Sideway 1633'}

Print only the `_id` and name fields:

In [127]:
#Q: x = mycol.find({"_id"(), "name" ()})

for x in mycol.find({}, {"_id": 1, "name": 1}):
    print(x)

{'_id': ObjectId('5d2d62fb82bb850a2543733d'), 'name': 'John'}
{'_id': ObjectId('5d2d630d82bb850a2543733e'), 'name': 'John'}
{'_id': ObjectId('5d2d631682bb850a2543733f'), 'name': 'John'}
{'_id': ObjectId('5d2d631b82bb850a25437340'), 'name': 'John'}
{'_id': ObjectId('5d2d701e82bb850a25437342'), 'name': 'John'}
{'_id': ObjectId('5d2d717882bb850a25437343'), 'name': 'Peter'}
{'_id': ObjectId('5d2d718682bb850a25437344'), 'name': 'Amy'}
{'_id': ObjectId('5d2d718682bb850a25437345'), 'name': 'Hannah'}
{'_id': ObjectId('5d2d718682bb850a25437346'), 'name': 'Michael'}
{'_id': ObjectId('5d2d718682bb850a25437347'), 'name': 'Sandy'}
{'_id': ObjectId('5d2d718682bb850a25437348'), 'name': 'Betty'}
{'_id': ObjectId('5d2d718682bb850a25437349'), 'name': 'Richard'}
{'_id': ObjectId('5d2d718682bb850a2543734a'), 'name': 'Susan'}
{'_id': ObjectId('5d2d718682bb850a2543734b'), 'name': 'Vicky'}
{'_id': ObjectId('5d2d718682bb850a2543734c'), 'name': 'Ben'}
{'_id': ObjectId('5d2d718682bb850a2543734d'), 'name': 'William'}
{'_id': ObjectId('5d2d718682bb850a2543734e'), 'name': 'Chuck'}
{'_id': ObjectId('5d2d718682bb850a2543734f'), 'name': 'Viola'}
{'_id': 1, 'name': 'John'}
{'_id': 2, 'name': 'Peter'}
{'_id': 3, 'name': 'Amy'}
{'_id': 4, 'name': 'Hannah'}
{'_id': 5, 'name': 'Michael'}
{'_id': 6, 'name': 'Sandy'}
{'_id': 7, 'name': 'Betty'}
{'_id': 8, 'name': 'Richard'}
{'_id': 9, 'name': 'Susan'}
{'_id': 10, 'name': 'Vicky'}
{'_id': 11, 'name': 'Ben'}
{'_id': 12, 'name': 'William'}
{'_id': 13, 'name': 'Chuck'}
{'_id': 14, 'name': 'Viola'}

So, we must explicitly use `"_id": 0` to exclude it, but for other fields we simply omit them from the dict argument.

To include field conditionals in a query, we use `$` operators. This finds addresses starting with "S" or greater:

In [128]:
# Given Command
myquery = { "address": { "$gt": "S" } }
mydoc = mycol.find(myquery)
for x in mydoc:
  print(x)

{'_id': ObjectId('5d2d718682bb850a25437346'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('5d2d718682bb850a25437349'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('5d2d718682bb850a2543734b'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('5d2d718682bb850a2543734f'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': 5, 'name': 'Michael', 'address': 'Valley 345'}
{'_id': 8, 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': 10, 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': 14, 'name': 'Viola', 'address': 'Sideway 1633'}

Here are some more comparison operators:

            $gt, $gte, $eq, $in, $nin, $exists, $and, $or, $not
            
Experiment with these until you understand how to use them.

Now find all docs with an address that begins with "S":  
(HINT: The value for "address" in the argument should be the regex-based dict { "$regex": "^S" }.)

Sorting can be applied by invoking the Sort() method after the Find() method. Sort the collection by the name field:

Now sort in reverse order (HINT: The Sort() method takes an optional second parameter.)

A single record can be deleted by specifying some criterion:

In [ ]:
mycol.delete_one({ "address": "Mountain 21" })

Now delete all docs with the 2-digit `Id` values:

This would delete all docs:
`x = mycol.delete_many({})`

This would remove the collection:
`mycol.drop()`

Change the first instance of "address" == "Valley 345" to "Canyon 123" using update_one().  
(HINT: The 1st paramater of update_one() is the criterion (query); the 2nd is dict specifying the field to change and its new value.)

The limit() method can be applied after the find() method to limit the number of docs returned. Show the first 5 docs:

## PyMongo for Data Science

MongoDB has many more features of interest to developers, but the main focus of a data scientist will be wrangling and munging the data. It may or may not be desirable to do all the data munging in Pandas; for a large, distributed database, it may be imperative to perform aggregation in MongoDB.

In [ ]:
# Ref:  https://rsandstroem.github.io/MongoDBDemo.html

import os
import pandas as pd
import numpy as np

This code creates a database named "test" and populates it from a JSON file using the mongoimport program (executed in the operating systems itself, rather than in Python):

In [ ]:
db = client.test
# Drop the collection in case it was previously created:
# collection = db.people
# collection.drop()

In [ ]:
os.chdir("dat")

In [ ]:
pwd()

In [ ]:
# if this does not return 0, execute mongoimport from a commmand window instead:
os.system('mongoimport -d test -c people dummyData.json')

In [ ]:
os.chdir("..")

In [ ]:
pwd()

In [ ]:
db = client.test
collection = db.people
cursor = collection.find().sort('Age',pymongo.ASCENDING).limit(3)
for doc in cursor:
    print (doc)

Here is a small demonstration of the MongoDB aggregation framework. We want to create a table of the number of persons in each country and their average age. To do it we group by country. We extract the results from MongoDB aggregation into a pandas dataframe, and use the country as index.

In [ ]:
pipeline = [
        {"$group": {"_id":"$Country",
             "AvgAge":{"$avg":"$Age"},
             "Count":{"$sum":1},
        }},
        {"$sort":{"Count":-1,"AvgAge":1}}
]
aggResult = collection.aggregate(pipeline) # returns a cursor

df1 = pd.DataFrame(list(aggResult)) # use list to turn the cursor to an array of documents
df1 = df1.set_index("_id")
df1.head()

For simple cases one can either use a cursor through find("search term") or use the "$match" operator in the aggregation framework, like this:

In [ ]:
pipeline = [
        {"$match": {"Country":"China"}},
]
aggResult = collection.aggregate(pipeline)
df2 = pd.DataFrame(list(aggResult))
df2.head()

Now we can apply all the power of Python libraries to analyse and visualise the data. Here, we will use the folium package to plot markers for the locations of the people we just found in China (click on a marker to see their data):

In [ ]:
# Un-comment and execute to install folium pkg (1st time only):
# import sys
# !{sys.executable} -m pip install folium

In [ ]:
import folium
print ('Folium version ' + folium.__version__)

world_map = folium.Map(location = [35, 100], zoom_start = 4)
for i in range(len(df2)):
    location = [float(loc) for loc in df2.Location[i].split(',')]
    folium.Marker(location = location, popup = df2.Name[i] + ', age:' + str(df2.Age[i])).add_to(world_map)
    
world_map

## HOMEWORK:

1. Read up on how to perform aggregation in mongoDB. Insert a duplicate record into the collection:
        mydict = { "name": "John", "address": "Highway 37" }
   Now write a command to find docs with a duplicate "name" field (using aggregation) and remove them.  
   Print the collection.

2. Read up on how to apply indexes in mongoDB. Create an index on the "name" and "address" fields in this collection.
   Print the indexes for the collection.



> 
>
>

**© 2019 Data Science Institute of Australia**