In [1]:
import sqlite3

In [9]:
import sqlite3
conn = sqlite3.connect('test.db')
print("Opened database successfully")
#Create table
conn.execute('''CREATE TABLE COMPANY_1
(ID INT PRIMARY KEY NOT NULL,
NAME,
AGE,
ADDRESS,
SALARY REAL);''')

print("Table created successfully")
conn.close()

Opened database successfully
Table created successfully

In [10]:
import sqlite3
conn = sqlite3.connect('test.db')
print ("Opened database successfully")
conn.execute("INSERT INTO COMPANY_1 (ID,NAME,AGE,ADDRESS,SALARY) \
VALUES (1, 'Paul', 32, 'California', 20000.00 )");
conn.execute("INSERT INTO COMPANY_1(ID,NAME,AGE,ADDRESS,SALARY) \
VALUES (2, 'Allen', 25, 'Texas', 15000.00 )");
conn.execute("INSERT INTO COMPANY_1 (ID,NAME,AGE,ADDRESS,SALARY) \
VALUES (3, 'Teddy', 23, 'Norway', 20000.00 )");
conn.execute("INSERT INTO COMPANY_1 (ID,NAME,AGE,ADDRESS,SALARY) \
VALUES (4, 'Mark', 25, 'Rich-Mond ', 65000.00 )"); conn.commit()
print ("Records created successfully")
conn.close()

Opened database successfully
Records created successfully

In [15]:
import sqlite3
conn = sqlite3.connect('test.db')
print ("Opened database successfully")
cursor = conn.execute("SELECT id, name, address, salary from COMPANY_1")
print(type(cursor))
for row in cursor:
    
    print(row)
    print ("ID = ", row[0])
    print ("NAME = ", row[1])
    print ("ADDRESS = ", row[2]) 
    print ("SALARY = ", row[3], "\n")
    print ("Operation done successfully")
conn.close()

Opened database successfully
<class 'sqlite3.Cursor'>
(1, 'Paul', 'California', 20000.0)
ID =  1
NAME =  Paul
ADDRESS =  California
SALARY =  20000.0

Operation done successfully
(2, 'Allen', 'Texas', 15000.0)
ID =  2
NAME =  Allen
ADDRESS =  Texas
SALARY =  15000.0

Operation done successfully
(3, 'Teddy', 'Norway', 20000.0)
ID =  3
NAME =  Teddy
ADDRESS =  Norway
SALARY =  20000.0

Operation done successfully
(4, 'Mark', 'Rich-Mond ', 65000.0)
ID =  4
NAME =  Mark
ADDRESS =  Rich-Mond
SALARY =  65000.0

Operation done successfully